.interview-kit-container
  %h4= "#{@assessment.name} - "
  .primary-container
    = render 'interview_form'

  / .show-applicant-view
  /   .applicant-main-container  
  /     .applicant-general-info
  /       .applicant-general-top
  /         = render 'business/applications/show_application/applicant_details'
  /       .applicant-nav
  /         = render 'business/applications/show_application/applicant_nav'
  /       .action-area
      
  /     .applicant-general
  /       .display-applicant-details

    