.container-footer
  = link_to "+ Edit Scorecard", edit_business_scorecard_path(@scorecard), class: "btn border-button", remote: true
  .destroy-action
    = link_to business_scorecard_path(@scorecard), remote: true, :method => :delete, data: {:confirm => "Are You Sure? You can not undo this action."} do 
      %i.fa.fa-trash-o
      Destroy
