.create-scorecard{:id => "scorecard_#{@scorecard.id}"}
  .scorecard-details
    .sections
      - @scorecard.scorecard_sections.each do |section|
        .section
          .section-header
            %h4= section.body
          .section-body
            %h5 Criteria
            - section.section_options.each do |criteria|
              .criteria= criteria.body
