.scorecard{:id => "scorecard_#{@scorecard.id}"}
  - @scorecard.scorecard_sections.each do |section|
    .scorecard-section
      .title= section.body
      .options
        - section.section_options.each do |option|
          .option= option.body
  