.answers  
  .answer
    = f.text_field :body, id: "section-option", class: "section-answer", autocomplete: 'off'
    = link_to "", '#', class: "remove_fields glyphicon glyphicon-remove" 
    = f.hidden_field :_destroy, id: "destroy_fields"
    %span#optionBodyBlock