.page-header
  %h1 Create a Job
#post-a-job
  .side-container
    = render 'business/shared/post_job'
  .main-container 
    .stage-header
      %h4 Scorecard
    .stage-form
      = form_for [:business, @job, @scorecard] do |f|
        = link_to_add_fields "+ Add Section", f, :scorecard_sections


    / = form_for [:business, @job, @scorecard] do |f|
    /   = link_to_add_fields "+ Add Section", f, :scorecard_sections
    /   = f.fields_for :scorecard_sections do |q| 
    /     = render "scorecard_section_fields", f: q       
      
    /   %br
        
    /   = f.hidden_field :job_id, value: @job.id
    /   .actions
    /     = f.submit "Create Scorecard", class: "submit btn btn-primary"


       