.assign-to-row
  .title Add Candidates
  .assign-user#user_ids_Block
    .show-hidden-search-box
      .plain-text 
        No Candidates 
        .caret
    .hidden-search-box
      = text_field_tag "", "", :class => 'ui-autocomplete-input candidates', :placeholder => 'Type a candidates name', id: "autocomplete"
      #search-results-candidates
      .assigned-candidates