.assign-to-row
  .assign-user#user_ids_Block
    .show-hidden-search-box
      .plain-text 
        Assign a Candidate
        .caret
      #single-obj
    .hidden-search-box
      .search-area-content
        %i.fa.fa-search.fa-stack-2x
        = text_field_tag "", "", :placeholder => 'Search Candidates', id: "candidates", autocomplete: "off", class: "autocompleteCustom"
      .auto-candidates#add-single
        = render "business/candidates/candidates_auto"