.fieldset#add-social-link
  .row
    = f.text_field :url, id: "url_Block", class: "form-control", placeholder: "Social Link (URL)", hide_label: true
    = f.select :kind, options_for_select(["LinkedIn", "Facebook", "Twitter", "Google+", "Tumblr", "Dribbble", "GitHub", "BitBucket", "AngelList", "YouTube", "Medium", "Vimeo", "Pinterest", "Flickr", "Personal", "Other"]), :prompt => "Select Type..."
    = link_to "", '#', class: "remove_fields glyphicon glyphicon-remove" 
    
  %span#url_msgBlock