.fieldset.add-work-experience
  .row
    = f.text_field :name, class: "form-control", placeholder: "Social Link", hide_label: true
    = link_to "Remove Tag", '#', class: "remove_fields btn border-button"