.page-header
#main-container
  .main-container
    .applicant-view
      .applicant-side-container
        .applicant-general-info
          = render 'business/candidates/show_candidate/candidate_details'
        = render 'business/candidates/show_candidate/side_container'
      .applicant-main-container
        .navigation-container
          .applicant-nav
            = render 'business/candidates/show_candidate/candidate_nav'
          .action-area
        .applicant-general
          .display-applicant-details
            = render 'business/candidates/show_candidate/candidate_profile'


  .modal#myModal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
          %h4.modal-title  
        .modal-body
.footer