#main-container
  #padding
    = link_to business_candidates_path, class: "back-to-candidates" do 
      %i.fa.fa-arrow-left 
      Back to Candidates
    .show-applicant-view
      .applicant-main-container  
        .applicant-general-info

          .applicant-nav
            = render 'business/candidates/show_candidate/candidate_nav'
          .action-area
        .applicant-general
          .display-applicant-details
            = render 'business/candidates/show_candidate/candidate_profile'
      .applicant-side-container  
        = render 'business/candidates/show_candidate/side_container'
