.page-header
  %h2 Clients
  = link_to "Create Client", new_business_client_path, id: 'client-action', class: "btn border-button", remote: true
   
#main-container
  #padding
    .side-container
      = render "filters"
    .main-container
      .applicants
        = render 'clients_table'
      .pagination-container
        = render 'business/client_contacts/contacts_table/pagination'


.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title
