<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
Stripe.setPublishableKey("#{ENV['STRIPE_PUBLISHABLE_KEY']}");
</script>

= javascript_include_tag 'payment'

.container
  .sidebar
    = render 'business/shared/admin_sidebar'

  .billing
    %h1 Billing Information 
    = render 'form'