<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
Stripe.setPublishableKey("#{ENV['STRIPE_PUBLISHABLE_KEY']}");
</script>

= javascript_include_tag 'payment'

.contain
  .sidebar
    .nav
      = render 'business/shared/admin_sidebar'

  .main-container
    .header
      %h1 Billing Information 
    .body
      = render 'form'