.contain
  .sidebar
    .nav
      = render 'business/shared/admin_sidebar'

  .main-container
    .billing
      .header
        %h1 Subscription
      .body
        .billing
          - if current_company.customer == nil 
            = render "no_billing_plan"
          - elsif current_company.customer.plan == nil
            = render "no_plan"
          - else
            = render "update_plan"

