.business-registration
  .header
    %h2 Login 
  .body
    = bootstrap_form_tag url: '/login' do |f|
      %fieldset
        = f.email_field :email, placeholder: "E-mail", hide_label: true
        = f.password_field :password, placeholder: "Password", hide_label: true
        %input(type="submit" value="Log In" class="btn button-submit")
    %p 
      Forgot your password? 
      = link_to 'Reset Password', '/forgot_password'