.application-actions
  = link_to new_business_candidate_comment_path(@candidate), remote: true do
    #add-note.btn-application-actions.active-button + Add Note
  = link_to new_business_candidate_message_path(@candidate), remote: true do 
    #send-email.btn-application-actions.inactive-button Send E-mail 

    
  #schedule-appt.btn-application-actions.inactive-button
    Schedule Interview

.action-area
  
