.interview-container
  - if @interview.present? 
    - @interviews.each do |interview|
      = render "business/interviews/interview", interview: interview
  - else 
    .not-present-container
      %p There are currently no Interviews scheduled.