.home-page-header
  .top-info
    %h1 Calendar
  .change-containers-nav
    %ul  
      %li#open.activated My Schedule
      %li#closed Company Schedule
#main-container
  = render 'business/interviews/interviews'
      




.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title