.page-header
  %h2 Calendar
  .actions
    .application-actions
      - if can? :create, InterviewInvitation
        = link_to "Send Invitation", new_business_interview_invitation_path,  data: {:turbolinks => "false"}, remote: true, class: "btn border-button", id: "client-action"
      
      - if can? :create, Interview
        = link_to "+ Interview", new_business_interview_path, data: {:turbolinks => "false"}, remote: true, class: "btn border-button", id: "client-action"
      
#main-container
  #padding
    .side-container
      = render 'business/interviews/filters'
    .main-container
      #calendar-container
        #calendar
        / = render 'business/interviews/interviews'

