= render 'business/applications/top_container'

#main-container
  #padding
    .side-container
      = render 'job_filters'
    .main-container
      .actions
        - if can? :create, InterviewInvitation
          = link_to "Send Invitation", new_business_interview_invitation_path,  data: {:turbolinks => "false"}, remote: true, class: "btn border-button", id: 'client-action'
        - if can? :create, Interview
          = link_to "+ Interview", new_business_interview_path, data: {:turbolinks => "false"}, remote: true, class: "btn border-button interview-button", id: 'client-action'
      #calendar
      / #calendar-container
      /   = render 'business/interviews/interviews'
