= render 'business/applications/top_container'

#main-container
  #calendar-container
    .side-container
      = render 'job_filters'
    .main-container#task-container
      = link_to "Create Interview", new_business_interview_invitation_path,  data: {:turbolinks => "false"}, remote: true, class: "btn border-button2"
      = render 'business/interviews/interviews'

.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title