<% if @errors.present? %> 
  <% @errors.each do |error| %> 
    $('#<%= error[0] %>_msgBlock').append('<div class="notice"><%= escape_javascript(error[1]) %></div>');
    $('#<%= error[0] %>_Block').addClass('has-error');
  
    $('form').find('.error').each(function(){
      if ($(this).prev().val().length > 0 ){
        $(this).prev().removeClass('has-error');
        $(this).find('.notice').remove();
      }
    });
  <% end %>
<% else %>
  $('.main-form-container').remove();
  $('.main-container').show()
  $('.templates').append('<%= j render "permission", permission: @permission %>');
<% end %>