- if @email_templates.present?
  - @email_templates.each do |template| 
    = render 'email_template', template: template
- else 
  .not-present-container
    %p You currently do not have any E-mail Templates
    .add-object= link_to "+ Email Template", new_business_email_template_path, remote: true, class: 'btn border-button'
      



      
