.company-settings
  .side-container
    = render 'business/shared/admin_sidebar'
  .main-container
    .standard-header
      %h2 E-mail Templates
      = link_to "+ Add E-mail Template", new_business_email_template_path, :data => {:remote => true }, class: "btn border-button2"
    .templates-body
      = render "business/email_templates/email_templates", email_templates: @email_templates
   


.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title