.user-tag{id: "user_skill_#{f.object.id}"}
  = f.object.name
  = f.hidden_field :_destroy
  = link_to job_seeker_work_experience_user_skill_path(f.object.work_experience, f.object), remote: true, :method => :delete do
    .delete &times





