= form_for [:business, @rejection_reason], remote: true do |f|
  .modal-body
    .form-row-no-border
      %h4 Rejection Reason
      = f.text_field :body, placeholder: "Reason", autocomplete: "off", id: "body_Block"
      %span.error#body_msgBlock
      = f.hidden_field :company_id, value: current_company.id
  .modal-footer
    = f.button "Save Reason", class: "btn submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'> </i> Saving..."}
    .btn.border-button.close-modal Cancel
