= form_tag job_seeker_update_skills_path do
  .row
    .form-group.col-md-6             
      = text_field_tag 'name', nil, :class => 'ui-autocomplete-input', :placeholder => 'Add Skill', id: "skills_name"
      %div#skills-results
      = hidden_field_tag :user_id, value: current_user.id
      = hidden_field_tag :skills_id
  %input(type="submit" value= "Add Skill" class="btn btn-success")