.assessment
  - if @questions.nil? 
    .not-present-container
      %p No Assessments Available
  - else 
    .header
      %h4 Application Form
    .assessment-body
      - @questions.each do |question|
        .question-container
          .question
            = question.body
          .answer
            = question_answer(question, @candidate, @job)


