.dropdown
  .dropdown-button
    .btn.hover-button + Scorecard
  .dropdown-content#myDropdown
    = link_to new_business_candidate_assessment_path(@candidate), remote: true  do
      .action Scorecard
    = link_to new_business_candidate_assessment_path(@candidate, kind: 'kit'), id: 'client-action', remote: true do  
      .action Interview Kit

- if @assessments.present? 
  - @assessments.each do |assessment| 
    = render 'business/assessments/assessment', assessment: assessment

- else 
  .assessment
    .not-present-container
      %p No Scorecards have been added for the Candidate
      .add-object= link_to "+ Assessment", new_business_assessment_path, class: 'btn hover-button', remote: true