= form_for [:business, @candidate, @resume], remote: true do |f| 
  .not-present-container
    %p There is currently no resume for this candidate.
    .add-object
      %span#error_msgBlock
      = f.file_field :name, class: "btn user_avatar_image inputfile"
      = f.hidden_field :candidate_id, value: @candidate.id
      = f.label :name, "Add Resume", class: "btn submit-button" 

