.change-containers-nav
  %ul 
    = link_to business_candidate_tasks_path(@candidate, job_id: @job.id), remote: true do
      %li.change#tasks.activated Active

    = link_to business_candidate_tasks_path(@candidate, status: "complete", job_id: @job.id), remote: true do
      %li.change#completed-tasks  Complete
    
.tasks
  - if @tasks.present? 
    - @tasks.each do |task| 
      = render 'business/tasks/task', task: task
  - else 
    .not-present-container
      %p No Tasks Present

        