- if @tasks.present? 
  - @tasks.each do |task| 
    .task{id: "task_#{task.id}"}
      .edit-delete-actions
        = link_to edit_business_task_path(task), remote: true do
          .glyphicon.glyphicon-pencil
      .body
        = link_to completed_business_tasks_path(id: task.id, application_id: @application.id), method: :post, remote: true do 
          .glyphicon.glyphicon-ok 
        .title= task.title
- else 
  .not-present-container
    %p No Tasks Present

      