#filter-links
  %ul  
    = link_to business_job_tasks_path, class: 'filter-link' do 
      %li{:class => is_activated?(business_job_tasks_path(@job))} Open Tasks
    
    = link_to due_today_business_job_tasks_path, class: 'filter-link' do 
      %li{:class => is_activated?(due_today_business_job_tasks_path(@job))}  Due Today
    
    = link_to overdue_business_job_tasks_path, class: 'filter-link' do 
      %li{:class => is_activated?(overdue_business_job_tasks_path(@job))}  Overdue Tasks
    
    = link_to complete_business_job_tasks_path, class: 'filter-link' do 
      %li{:class => is_activated?(complete_business_job_tasks_path(@job))}  Completed Tasks

