.page-header
  %h2 Tasks
  .actions
    = link_to "Create Task", new_business_task_path,  data: {:turbolinks => "false"}, remote: true, class: "btn border-button"
#main-container
  #padding
    .side-container
      = form_tag complete_business_tasks_path, :method => 'get', id: "search-form" do
        = render 'filters'
    .main-container#task-container
      = render 'business/tasks/tasks'




.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title