#all-candidates
  %h1 Tasks
  .actions
    = link_to "Create Task", new_business_task_path, remote: true, class: "btn border-button2"
  / .change-containers-nav
  /   %ul  
  /     = link_to business_tasks_path, remote: true do 
  /       %li.change#open-tasks.activated All Tasks
  /     = link_to business_tasks_path(status: 'current_user'), remote: true do 
  /       %li.change#closed-tasks My Tasks

#main-container
  #job-applicants
    .side-container
      = render 'business/tasks/filters'
    .main-container#task-container
      = render 'business/tasks/tasks'

.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title