= render 'business/applications/top_container'

#main-container
  #job-applicants
    .side-container
      = form_tag business_job_tasks_path(@job), :method => 'get', id: "search-form" do
        = render 'business/tasks/filters'
    .main-container#task-container
      = render 'business/tasks/tasks'
