.modal#profile-picture-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title Edit Profile Picture
      .modal-body
        .row
          .image.col-md-6
            = form_for [:job_seeker, @user_avatar] do |f| 
              %p Add a photo and crop it below. 
              = image_tag(@user_avatar.image) if @user_avatar.image?
              = f.file_field :image, class: "btn btn-file"
              = f.submit "Submit"
          .preview.col-md-6
            %p Preview
      .modal-footer

