.top-row
  %i.fa.fa-calendar  
  .kind Interview:
  .title= action.name
  .scheduled
    Scheduled
    = link_to "(View Details)",  business_interview_path(action.interview.id), remote: true
  .links 
    = link_to "Interview Kit", new_business_completed_assessment_path(assessment: action.interview.assessment), target: :_blank