.top-row
  %i.fa.fa-calendar  
  .kind Interview:
  .title= action.name
  .scheduled
    Scheduled
    = link_to "(View Details)",  business_interview_path(action.interview.id), remote: true
  .links 
    - if action.interview.assessment.present?
      .title
        = link_to "Interview Kit", business_interview_kit_path(action.interview.assessment), target: :_blank
    - else 
      .title 
        = link_to "Add Interview Kit", "#"