.activity{:id => activity.action, :class => "#{activity.trackable_type} job_#{activity.job_id}"}      
  .icon
    .glyphicon.glyphicon-envelope
  .activity-body
    - if activity.trackable.candidate_id.present?
      = render 'business/activities/message/candidate_message', activity: activity
    - else 
      = render 'business/activities/message/user_message', activity: activity