.form-row
  .contain-50
    .assign-to-row
      .title Add Job
      .assign-user#user_ids_Block
        .show-hidden-search-box
          .plain-text 
            No Job Selected
            .caret
        .hidden-search-box
          .select-box
            .select-item{data: {:id => ''}} No Job 
            - if current_company.open_jobs.present?
              - current_company.open_jobs.each do |job|
                .select-item{data: {:id => job.id}}= job.title
              = f.hidden_field :job_id, id: "select-box-field"
  .contain-50
    = render 'business/candidates/candidates_autocomplete'


