.form-row
  .contain-3
    .assign-to-row
      .title Add Job
      .assign-user#user_ids_Block
        .show-hidden-search-box
          .plain-text 
            No Job Selected
            .caret
        .hidden-search-box
          .select-box
            .select-item{data: {:id => ''}} No Room
            - if @taskable.applications.present?
              - @taskable.applications.each do |app|
                .select-item{data: {:id => app.job.id}}= app.job.title
              = f.hidden_field :job_id, id: "select-box-field"