

.business-registration
  = form_tag url: '/forgot_passwords' do |f|
    .standard-header
      %img.logo(src="/tmp/logo.jpg")
      %h2 Reset Password
    .body
      .form-row-no-border
        = label_tag "E-mail"
        .field
          = email_field_tag :email, "", placeholder: "E-mail"
    .container-footer
      = button_tag "Submit", class: "btn submit-button", class: "btn submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'> </i> Signing In..."}