.profile-container.showing
  .applicant-experience 
    .applicant-positions
      = render 'business/shared_manual_candidate/work_experience'
      = render 'business/shared_manual_candidate/education'

      