.profile-container
  / .change-containers-nav
  /   %ul 
  /     = link_to business_job_application_path(@job, @application), remote: true do
  /       %li.change#profile.activated Profile
      
  /     = link_to business_candidate_resume_path(@candidate.id, @candidate.resumes.first.id), remote: true do 
  /       %li.change#resume Resume
  .experience-container
    = render 'business/shared_manual_candidate/work_experience'
    = render 'business/shared_manual_candidate/education'
    
