.top-row
  .applicant-stage
    .current-stage= application_stage(@candidate, @job)
    / .select-stage= select_tag "stages", options_for_select(["Applied"] + @job.stages.collect{ |u| [u.name, u.id, { 'data-id' => u.id, 'data-application' => @application.id }] }, @application.stage.present? ? @application.stage.id : 1 ), id: 'move-applicant-stages'
    .next-stage
      %i.fa.fa-arrow-right
    .reject-stage
      .dropdown#reject
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %i.fa.fa-ban
        %ul.dropdown-menu.dropdown-menu-right
          - @rejection_reasons.each do |reason| 
            %li
              %a= link_to "#{reason.body}", business_job_application_reject_path(@job, @application, :val => reason.body), remote: true, method: :post 
    


  

