.applicant-view
  .applicant-side-container
    .applicant-general-info
      = render 'business/applications/show_application/applicant_details'
    = render 'business/applications/show_application/side_container'
  .applicant-main-container
    
    .navigation-container
      .applicant-nav
        = render 'business/applications/show_application/applicant_nav'
      .action-area
    .applicant-general
      .display-applicant-details
        = render 'business/applications/show_application/application_cv'

    