.side-section
  .tag-container
    %h4 Tags
    .add_tag
      = link_to "+ Add Tag", new_business_candidate_tag_path(@candidate), remote: true, id: 'add_tag'
    .tags
      = render "business/tags/tags"
.side-section
  


   

