.side-section
  .tag-container
    .tag-header
      %h4 Stage
    = render 'business/applications/show_application/header_actions'
.side-section
  .tag-container
    .tag-header
      %h4 Tags
      = render 'business/tags/form'
    .tags
      = render "business/tags/tags"



   

