.description-right
  .intro-message
    .header= section.header
    .sub-header= section.subheader
  .image-description
    .description= section.description
    .image= image_tag section.media_photos.first.file_name