.description-right
  .header-message
    .header= section.header
    .sub-header= section.subheader
  .image-description
    .image= image_tag section.media_photos.first.file_name.medium_image
    .description= section.description.html_safe
    