.approach-container
  .icon
    = image_tag section.media_photos.first.file_name.medium_image
  .copy
    .header= section.header
    .sub-header= section.subheader
    .description= section.description.html_safe
    