.job-board-header{:style => "background-image: url(#{@job_board.cover_photo.url})"}
  .intro-message
    .header= @job.title
    .sub-header= @job.location
    
.career-portal-job-container
  .application-form
    .application-header
      %h1 Application Form
      %p Please finish the following questions to apply to this job.
    .application-body
      = render 'form'