.modal#inviteModal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title Invite Colleague          
      .modal-body
        %p Invite a user to join TalentWiz as a member of your business.
        = form_for [:business, @invitation] do |f|
          %fieldset
            .form-group.col-md-10
              = f.text_field :recipient_email, class: "form-control", placeholder: "Add a member by using their e-mail" 
              = f.hidden_field :job, value: @job.id
          = f.submit "Invite Colleague", class: "submit btn btn-primary"

          