- if @assessments.present?
  - @assessments.each do |assessment| 
    = render 'application_form', assessment: assessment
- else 
  .not-present-container
    %p You currently do not have any Assessment Templates
    .add-object= link_to "+ Assessment Template", new_business_assessment_template_path(subsidiary: @subsidiary), remote: true, class: 'btn border-button'
      



      