---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_18JiNYBDRuCwc6R2cAyZA6DY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_7Z032KY6RwNK0xgooEKxqYYO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_18JiNYBDRuCwc6R2cAyZA6DY",
          "object": "event",
          "api_version": "2015-10-16",
          "created": 1465298896,
          "data": {
            "object": {
              "id": "ch_18JiNYBDRuCwc6R26vZQNz18",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_18JiNYBDRuCwc6R2UB2MNmjv",
              "captured": true,
              "created": 1465298896,
              "currency": "cad",
              "customer": "cus_8Z2JOTzC6WSeet",
              "description": "Charge successful",
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "order": null,
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_18JiNYBDRuCwc6R26vZQNz18/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_18JiN1BDRuCwc6R2elyDunEF",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8Z2JOTzC6WSeet",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2017,
                "fingerprint": "SAow76ubNBhomPEk",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "succeeded"
            }
          },
          "livemode": false,
          "pending_webhooks": 1,
          "request": "req_8auBEdKESjzn3e",
          "type": "charge.succeeded"
        }
  recorded_at: Tue, 07 Jun 2016 11:31:02 GMT
recorded_with: VCR 3.0.1
