.stage{:id => "default_stage_#{stage.id}"}
  .stage-header
    .glyphicon.glyphicon-move
    .body
      = stage.name

    .dropdown
      .dropdown-button
        %i.fa.fa-ellipsis-h.fa-lg
      .dropdown-content#myDropdown      
        = link_to edit_business_default_stage_path(stage.id), :data => {:remote => true } do
          %i.fa.fa-pencil
          .action Edit
        = link_to business_default_stage_path(stage.id), remote: true, :method => :delete, data: {:confirm => "Are You Sure? You can not undo this action."}  do
          %i.fa.fa-trash-o 
          .action Destroy


      
