= form_for [:job_seeker, @work_experience, @user_skill], html: {remote: true, :class => 'skills_form'} do |f|      
  .add-user-skill 
    = text_field_tag 'name', nil, :class => 'ui-autocomplete-input', :placeholder => 'Add Skill', id: "skills_name"
    %div#skills-results
    = hidden_field_tag :skills_id
    .btn.border-button#remove_form Close
    = f.submit "Add", class: "btn submit-button"


      
