.add-user-skill
  = form_for [:job_seeker, @work_experience, @user_skill], html: {remote: true, :class => 'skills_form'} do |f|      
    = text_field_tag 'name', nil, :class => 'ui-autocomplete-input', :placeholder => 'Add Skill', id: "skills_name"
    %div#skills-results
    
    = hidden_field_tag :skills_id
    .close-form#new-form.btn.btn-default     
      Close
    = f.submit "+ Add", class: "submit btn btn-primary", id: "submit_skills"
    
