%div{:class => "skill", id: "user_skill_#{skill.id}"}
  .name= skill.skill.name
  = link_to job_seeker_work_experience_user_skill_path(position.id, skill.id), remote: true, :method => :delete do
    .delete &times