.all-job-applicants-container
  #job-applicants
    .job-stages
      = render 'business/applications/job_applications/job_stages'
    .main-container
      = render 'business/applications/job_applications/applications'
    .side-container
      = render 'business/applications/job_applications/all_application_filters'

.modal#applicant-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
      .modal-body