.all-job-applicants-container
  #job-applicants
    .job-stages
      = render 'business/applications/job_applications/job_stages'
    .application-actions
      = render 'business/applications/job_applications/application_actions'
    .main-container 
      = render 'business/applications/job_applications/applications_table'
    .side-container
      = render 'business/applications/job_applications/all_application_filters'





