.applicants
  .applicant-table-body
    %table.table
      %thead
        %tr
          %th(width="1%")
            #select_all= check_box_tag 'Select All', class: 'select_all_applicants'
          %th(width="10%")
          %th(width="25%") Name 
          %th(width="20%") Stage
          %th(width="20%") Rating 
          %th(width="25%") Date Applied
        %tbody
          - @applications.each do |candidate|
            - if candidate.manually_created == true
              = render 'business/shared/manual_application_rows', candidate: candidate
            - else
              = render 'business/shared/user_applications_table_rows', candidate: candidate
    .not-present-container
      %p There are currently no applicants in this stage.

= will_paginate @applications, previous_label: h("<"), next_label: h(">")

.modal#applicant-modal
  .modal-dialog
    .modal-content
      .modal-body 
