.new_rating
  %fieldset.rating
    %input.star.applicant-filter-checkbox{:name => "rating_5", :id => "rating_star5", :type => "radio", :value => "5", checked: true}
    %label.full{:for => "rating_star5"}

    %input.star.applicant-filter-checkbox{:name => "rating_star4half", :id => "rating_star4half", :type => "radio", :value => "4.5", checked: true}
    %label.half.applicant-filter-checkbox{:for => "rating_star4half"}
    
    %input.star.applicant-filter-checkbox{:name => "rating_4", :id => "rating_star4",  :type => "radio", :value => "4", checked: true} 
    %label.full{:for => "rating_star4"}

    %input.star.applicant-filter-checkbox{:name => "rating_star3half", :id => "rating_star3half", :type => "radio", :value => "3.5", checked: true}
    %label.half.applicant-filter-checkbox{:for => "rating_star3half"}
    
    %input.star.applicant-filter-checkbox{:name => "rating_star3", :id => "rating_star3", :type => "radio", :value => "3", checked: true}
    %label.full{:for => "rating_star3"}
    
    
    %input.star.applicant-filter-checkbox{:name => "rating_star2half",:id => "rating_star2half", :type => "radio", :value => "2.5", checked: true}
    %label.half{:for => "rating_star2half"}
    
    
    %input.star.applicant-filter-checkbox{:name => "rating_2",:id => "rating_star2", :type => "radio", :value => "2", checked: true}
    %label.full{:for => "rating_star2"}
    
   
    %input.star.applicant-filter-checkbox{:name => "rating_1half", :id => "rating_star1half", :type => "radio", :value => "1.5", checked: true}
    %label.half{:for => "rating_star1half"}
    
    
    %input.star{:name => "rating_1", :id => "rating_star1", :type => "radio", :value => "1", checked: true}
    %label.full{:for => "rating_star1"}
    
    
    %input.star.applicant-filter-checkbox{:name => "rating_starhalf", :id => "rating_starhalf", :type => "radio", :value => "half", checked: true}
    %label.half{:for => "rating_starhalf"}

