.main-container
  / = form_tag business_jobs_path, method: :get do   
  /   = search_field_tag :query, params[:query], placeholder: "Search Jobs By Title", class: "form-control"
  .open-container.showing  
    - if @jobs.count == 0
      .not-present-container
        %p You currently do not have any open jobs.
    - else 
      - @jobs.each do |job|
        = render 'job_container', job: job

