= render 'business/clients/top_container'

#main-container.home-page-body
  .side-container-right
    .container
  .main-container-left
    = render 'filters'
    .all-main-job-container
      = render 'business/jobs/jobs'  