.contain
  .sidebar
    .nav
      = render 'business/shared/post_job'
 
  .main-container
    .header
      = render '/shared/errors', type: @job
      %h1 Job Details
    .body
      = render 'form'