.home-page-header
  .top-info
    %h1= "Jobs at #{current_company.name}"
  

.home-page-body
  = render 'filters'
  #main-container
    = render 'business/jobs/jobs'       
    .side-container
      .container
               



            

                



