.contain 
  .sidebar    
    = link_to "Post a Job", new_business_job_path, class: 'button post-a-job'
    
    .nav
      %ul 
        %li 
          .content
            %i.glyphicon.glyphicon-briefcase
            My Jobs 
        .body
          .job-nav
            %ul
              %li.open.show Open Job Postings
              %li.closed Closed Job Postings
              %li.drafts Drafts 
              %li.archived Archived Job Postings
        %li 
          .content
            %i.glyphicon.glyphicon-list-alt
            Company Jobs
        %li 
          .content
            %i.glyphicon.glyphicon-user
            My Profile
    

  .main-container
    .header 
      %h1 Open Job Postings
    .body
      - @jobs.each do |job|
        .open-jobs.showing
          - if job.status == 'open'
            = render 'job_container', job: job

        .closed-jobs
          - if job.status == 'closed'
            = render 'job_container', job: job
        .draft-jobs
          - if job.status == 'draft'
            = render 'job_container', job: job

            

                


    / - @jobs.each do |job|
    /   .row 
    /     .well 
    /       %a
    /         =link_to job.title, business_job_path(job)
    /       %p
    /         = job.city 
    /         ,
    /         = job.country |
    /         = link_to "Edit", edit_business_job_path(job)
    /         Delete
    /       .row
    /         .well.col-md-2
    /           %h2.text-center 58 
    /           %p.text-center All Applicants
    /         .well.col-md-2
    /           %h2.text-center 10
    /           %p.text-center Screened
    /         .well.col-md-2
    /           %h2.text-center 5
    /           %p.text-center Phone Interview
    /         .well.col-md-2
    /           %h2.text-center 4 
    /           %p.text-center Interview
    /         .well.col-md-2
    /           %h2.text-center 1 
    /           %p.text-center Offer
    /         .well.col-md-2
    /           %h2.text-center 1 
    /           %p.text-center Hired

