.features-nav 
  %h5 Plan your Hiring
  %ul 
    %li Create Job Posting
    %li Build Hiring Team 
    %li Custom Recruitment Pipeline 
    %li Interview Plan (Coming Soon)
    %li Templates (Coming Soon)

  %h5 Attract & Find Talent
  %ul 
    %li Branded Job Board
    %li Job Advertising (Coming Soon)
    %li Social Media (Coming Soon)
    %li Referral Network (Coming Soon)
    %li People Search (Coming Soon)
  %h5 Manage Candidates
  %ul 
    %li Intuitive Dashboard
    %li Applicant Tracking
    %li Candidate Filters
    %li Candidate Profiles
    %li EEO Compliance
  %h5 Collaborate with Teammates
  %ul 
    %li Task Pipeline (Coming Soon)
    %li Interview Management (Coming Soon)
    %li Score Candidates
    %li Centralized Messaging
    %li Timeline 
