%ul 
  %li.active-container#app-profile 
    Profile
  %li#app-messages
    Messages
  %li#app-notes
    Notes
  %li#app-assessments
    Assessments
  %li#app-scorecards
    Scorecards
  %li#app-activity
    Activity




