.change-containers-nav
  %ul
    %li.change#profile.activated
      Profile
    %li.change#messages
      Messages
    %li.change#notes
      Notes
    %li.change#assessments
      Assessments
    %li.change#scorecards
      Scorecards
    %li.change#activity
      Activity




