.page-header
  %h2= "Jobs"
#main-container
  #padding
    .side-container
      = render 'filters'        
    .main-container
      .all-candidates-table
        = render 'admin/jobs/jobs'
      .pagination-container