.application-actions
  = link_to new_business_client_client_contact_comment_path(@contact, @client), remote: true do
    #add-note.btn-application-actions.active-button + Add Note
  = link_to new_business_client_client_contact_message_path(@contact, @client), remote: true do 
    #send-email.btn-application-actions.inactive-button Send E-mail 
  / = link_to new_business_client_client_contact_task_path(@contact, @client), remote: true do
  /   #add-task.btn-application-actions.inactive-button
  /     Tasks
  / #schedule-appt.btn-application-actions.inactive-button
  /   Schedule Interview

.action-area