= bootstrap_form_for [:business, @user], remote: true do |f|
  .modal-body
    %fieldset
      = f.password_field :password, placeholder: "New Password"
      = f.password_field :password_confirmation, placeholder: "Confirm Password"

  .modal-footer
    %fieldset
      = f.submit "Change Password", class: "btn submit-button"
      .btn.border-button2{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel