.assign-to-row
  .assign-user#user_ids_Block
    .show-hidden-search-box
      .add-button-search
        .glyphicon.glyphicon-plus
      #multiple-users
    .hidden-search-box
      .search-area-content
        %i.fa.fa-search.fa-stack-2x
        = text_field_tag "", "", :placeholder => 'Type a users name to assign', id: "users", autocomplete: "off", class: "autocompleteCustom"
      .auto-users#add-multiple
        = render "business/users/users_auto"
