- @users.each do |user|
  .user{:data => {id: current_user.id, kind: "user"}}
    - if user.user_avatar.present?
      = image_tag user.user_avatar.image.small_image, class: 'img circle-img'
    - else 
      .circle-img
        %img(src="/tmp/little-man.png")
    .name= user.full_name
    = link_to "Add", business_job_hiring_teams_path(@job.id, user_id: user.id), :method => :post, remote: true, class: "add-user-btn"