.assign-to-row
  .assign-user#user_ids_Block
    .show-hidden-search-box
      .plain-text 
        Assign a User
        .caret
      #single-obj
    .hidden-search-box
      .search-area-content
        %i.fa.fa-search.fa-stack-2x
        = text_field_tag "", "", :placeholder => 'Type a users name to assign', id: "users", autocomplete: "off", class: "autocompleteCustom"
      .auto-users#add-single
        = render "business/users/users_auto"