.standard-container
  .intro-message
    .header Help your companies hire great talent
    .sub-header Build a custom job board that highlights your ecosystems job opportunities. 

.standard-container
  .intro-message
    .header 75% of founders stated hiring as their number one concern.


.standard-container
  .intro-message
    .header 20% of founders believe that if they are not successful it will be because they hired the wrong people.

.standard-container
  .intro-message
    .header Hiring is top of mind, but low on the to-do list. 
