.pricing-intro-header
  .intro-message 
    .header Affordable, Simple, Flexible Pricing
    .sub-header We know that hiring can be expensive and unpredictable. That is why we offer cost-effective and flexible pricing plans to meet your recruitment needs.
    .sign-up
      = link_to "Try it Today", new_user_path, class: "btn btn-primary btn-large"

.features-page
  .nav 
    %ul Plan your Hiring
      %li Custom Recruitment Process
      %li Templates
      %li 
      %li
    %ul Source Applicants

