.home-intro-header
  .intro-message 
    .header
      Transform your hiring process 
    .sub-header 
      Easy to use software, to source, evaluate & manage your applicants all in one location.   
    .sign-up
      = link_to "Try it Today", new_user_path, class: "white-border-button"

#feature-section-right
  .description
    %h2 Manage all your jobs with ease
    %p No more guessing which job still needs to filled. Talentwiz allows you to track all your job postings with ease. Our dashboard effectively displays all your jobs in a central location.
    %ul 
      %li 
        %span Visual pipeline of where the hiring process stands
      %li 
        %span Customize your recruitment process for each job
      %li 
        %span Filter jobs by status, location, name and type

  .image
    %img(src="/tmp/homepage-dashboard2.png")

#feature-section-left
  .description
    %h2 Accept & Manage Applications Online
    %p Don't let applications fill up your e-mail. Talentwiz allows you to accept all applications online directly through your branded career portal.  
    %ul 
      %li
        %span Build a great career portal to promote job opportunities
      %li
        %span Customized application form 
      %li
        %span Easily rank and filter applicants
      %li 
        %span Mass actions for candidates
  .image
    %img(src="/tmp/build-talent-pool.png")

#feature-section-right
  .description
    %h2 Centralized Candidate Management
    %p Losing track of a candidate and their standing in your hiring process can be costly. Talentwiz allows you track all the information about a candidate in a central location. 
    %ul 
      %li 
        %span  All contact information & CV
      %li 
        %span Collaborate with teammates 
      %li 
        %span Track all communication with an applicant
      %li 
        %span Centralized assessments and evaluations

  .image
    %img(src="/tmp/applicant-profile-screenshot.png")


/ .summary
/   .text-container
/     %h2 Move your entire Recruitment Process Online

/     %h4 Accept Applications Online
/     .description
/       %p TalentWiz moves your entire recruitment process online, including how applicants apply. All applicants apply to jobs via your branded career portal and are added directly to the job to which they applied.

/     %h4 Track Applications Online 
/     .description
/       %p Talentwiz allows you track all your applications online in a central location. Applications are organized by job, and can be easily moved from stage to stage until the end of the hiring process. 

/     %h4 Centralized Candidate Management 
/     .description
/       %p Talentwiz allows you track all the information about a candidate in a central location. Track your notes, e-mail chains, completed questionnaires and evaluations, all on the candidate profile.

/     %h4 Team Collaboration
/     .description
/       %p Hiring is a team sport. Add an unlimited number of team members to a job. Easily track a team member’s activity, coordinate the scheduling of interviews, involving multiple team members, and communicate with one another directly inside the system.  
/   .image
/     %img(src="/tmp/homepage-dashboard.png")
    
/ .content-breaker
/   %h2 Build a Great Recruitment Process

/ .home-intro-info
/   .header 
/     .row 
/       .col-md-3
/         %h3 Plan Hiring Process
/         %p.content Hiring great talent starts with a great hiring process. Don't worry we will help you get there.
/         = link_to "Learn More", features_hiring_team_path, class: "job-seeker-btn"
/       .col-md-3
/         %h3 Source Applicants
/         %p.content Attract, find, and engage talent to build your talent pipeline like a pro. 
/         = link_to "Learn More", features_branded_job_board_path, class: "job-seeker-btn"
/       .col-md-3 
/         %h3 Manage Applicants
/         %p.content Efficiently manage your applicants through the entire recruitment process. 
/         = link_to "Learn More", features_applicant_tracking_path, class: "job-seeker-btn"
/       .col-md-3
/         %h3 Assess Applicants 
/         %p.content Easily assess candidates and collaborate with your team in a central location.
/         = link_to "Learn More", '', class: "job-seeker-btn"

.mid-container
  %h2 Grow your Company with TalentWiz
  = link_to "Start Your Trial", new_user_path, class: "white-border-button"


= render 'shared/bottom_header'
  


