.home-intro-header
  .intro-message 
    .header Hiring Simplified
    .sub-header TalentWiz is a profile based recruitment system, designed to improve your recruitment process. Improve candidate management, screening, and team collaboration, to make better hires.
    
    .sign-up
      = link_to "Try it Today", new_user_path, class: "btn btn-primary btn-large"

.home-intro-info2

.home-intro-info1
  .header
    %h3 Easy to use Tools to reduce Cost per Hire, reduce Time to Hire, and improve the Quality of Hire
    
    .col-md-4
      %img.circle
      %h2 Candidate Filters
      %h4 Find Qualified Candidates
      %p Use our unique candidate filters to easily, and quickly identify candidates with the right skills, industry knowledge, certifications and experience. 
    .col-md-4
      %img.circle
      %h2 Candidate Portfolio
      %h4 Learn More About Each Applicant
      %p Candidates apply with a unique profile that provides more information than a traditional resume.
    .col-md-4
      %img.circle
      %h2 Marketing Box #1
      %p These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.

