.home-intro-header
  .intro-message.col-md-10 
    .header
      Transform your hiring process 
    .sub-header 
      Easy to use software, to source, evaluate & manage your applicants all in one location.   
    .sign-up
      = link_to "Try it Today", new_user_path, class: "btn btn-primary btn-large"

#feature-section-right
  .description
    %h2 Manage all your jobs with ease
    %p Talentwiz allows you track all your applications online in a central location. Applications are organized by job, and can be easily moved from stage to stage until the end of the hiring process.
  .image
    %img(src="/tmp/homepage-dashboard2.png")

#feature-section-left
  .description
    %h2 Collect more information about applicants
    %p Hiring is all about getting to know people and building relationships. Easily build an application form that applicants complete when they apply for a job. Want to learn more? Send them another assessment once you have screened applicants.
  .image
    %img(src="/tmp/application-form-screenshot.png")

#feature-section-right
  .description
    %h2 Centralized Candidate Management
    %p Talentwiz allows you track all the information about a candidate in a central location. Track your notes, e-mail chains, completed questionnaires and evaluations, all on the candidate profile.   
  .image
    %img(src="/tmp/applicant-profile-screenshot.png")


/ .summary
/   .text-container
/     %h2 Move your entire Recruitment Process Online

/     %h4 Accept Applications Online
/     .description
/       %p TalentWiz moves your entire recruitment process online, including how applicants apply. All applicants apply to jobs via your branded career portal and are added directly to the job to which they applied.

/     %h4 Track Applications Online 
/     .description
/       %p Talentwiz allows you track all your applications online in a central location. Applications are organized by job, and can be easily moved from stage to stage until the end of the hiring process. 

/     %h4 Centralized Candidate Management 
/     .description
/       %p Talentwiz allows you track all the information about a candidate in a central location. Track your notes, e-mail chains, completed questionnaires and evaluations, all on the candidate profile.

/     %h4 Team Collaboration
/     .description
/       %p Hiring is a team sport. Add an unlimited number of team members to a job. Easily track a team member’s activity, coordinate the scheduling of interviews, involving multiple team members, and communicate with one another directly inside the system.  
/   .image
/     %img(src="/tmp/homepage-dashboard.png")
    
/ .content-breaker
/   %h2 Build a Great Recruitment Process

/ .home-intro-info
/   .header 
/     .row 
/       .col-md-4
/         %img(src="/tmp/idea.png")
/         %h3 Build Your Hiring Process
/         %p.content Hiring great talent starts with a great hiring process. Plan and create an effective recruitment strategy with ease. 
/         = link_to "Learn More", features_hiring_team_path, class: "btn btn-primary btn-large"
/       .col-md-4
/         %img(src="/tmp/search.png") 
/         %h3 Find and Attract Talent
/         %p.content Attract, find, and engage talent to build your talent pipeline like a pro. Build an online recruitment presence in minutes.
/         = link_to "Learn More", features_branded_job_board_path, class: "btn btn-primary btn-large"
/       .col-md-4
/         %img(src="/tmp/applicant.png")  
/         %h3 Manage Applicants
/         %p.content We know that hiring often needs to happen quickly. Efficiently manage your applicants through the entire recruitment process. 
/         = link_to "Learn More", features_applicant_tracking_path, class: "btn btn-primary btn-large"
/     .second-row
/       .row
/         .col-md-4
/           %img(src="/tmp/check-list2.png")
/           %h3 Assess Candidates 
/           %p.content Find and identify the best applicants in your pipeline. Leverage your success with our unique candidate filters, customizable scorecards and questionnaires. 
/           = link_to "Learn More", '', class: "btn btn-primary btn-large"
/         .col-md-4
/           %img(src="/tmp/stick-man.png") 
/           %h3 Team Collaboration
/           %p.content Hiring is a team a sport. Collaborate with your team members to evaluate candidates and efficiently manage the recruitment workflow together.
/           = link_to "Learn More", features_user_roles_path, class: "btn btn-primary btn-large"
/         .col-md-4
/           %img(src="/tmp/pie-chart.png")  
/           %h3 Analyze & Improve
/           %p.content Analyze, assess and improve every aspect of your recruitment strategy. Our hiring metrics allow you to see your results. 
/           = link_to "Learn More", '', class: "btn btn-primary btn-large"

.mid-container
  %h2 Grow your Company with TalentWiz
  = link_to "Start Your Trial", new_user_path, class: "btn btn-trial"

.bottom-container
  .col-md-3
    %img(src="/tmp/logo.jpg") 
  .col-md-3
    %h4 Product
    %ul 
      %li Feature Overview
      %li Pricing
  .col-md-3
    %h4 Company 
    %ul
      %li Contact
  .col-md-3
    %h4 Try TalentWiz Today
    %p Free 30-day Trial 
    = link_to "Try it Today", new_user_path, class: "btn btn-primary btn-large"
  


