.pricing-intro-header
  .intro-message 
    .header Affordable, Simple, Flexible Pricing
    .sub-header All-inclusive pricing. All features with every plan.


.standard-container
  .intro-message
    .header Simple Pricing for a Simple Product.
    .sub-header Save 15% with yearly billing.

  .pricing-type
    %ul
      %li.monthly-tab.active-price Monthly Pricing
      %li.yearly-tab Yearly Pricing 
  .pricing-table
    .monthly.showing
      %ul 
        %li.pricing-container
          .title Start-Up 
          .cost $19
          .jobs 1 Active Job
        %li.pricing-container
          .title Basic 
          .cost $49
          .jobs 3 Active Jobs
        %li.pricing-container
          .title Team
          .cost $99
          .jobs 5 Active Jobs
        %li.pricing-container
          .title Plus
          .cost $199 
          .jobs 10 Active Jobs
        %li.pricing-container
          .title Growth
          .cost $299 
          .jobs 20 Active Jobs
        %li.pricing-container
          .title Enterprise
          .cost $399 
          .jobs Unlimited Jobs
    .yearly
      %ul 
        %li.pricing-container
          .title Start-Up 
          .cost $190
          .jobs 1 Active Job
        %li.pricing-container
          .title Basic 
          .cost $390
          .jobs 3 Active Jobs
        %li.pricing-container
          .title Team
          .cost $990
          .jobs 5 Active Jobs
        %li.pricing-container
          .title Plus
          .cost $1990
          .jobs 10 Active Jobs
        %li.pricing-container
          .title Growth
          .cost $2990
          .jobs 15 Active Jobs
        %li.pricing-container
          .title Enterprise
          .cost $3990
          .jobs Unlimited Jobs
    .sign-up
      = link_to "Try it Today", new_user_path, class: "job-seeker-btn"
.standard-container
  .intro-message
    .header Frequently Asked Questions


= render 'shared/bottom_header'