.activity{:id => activity.action, :class => "#{activity.trackable_type} job_#{activity.job_id}"}      
  .icon
  created a draft for the job 
  = link_to "#{activity.trackable.title}", activity.trackable.title