.fieldset#add-time
  .row
    = f.text_field :date, id: "task_due_date", placeholder: "Date"
    = f.text_field :time, id: "timepicker", placeholder: "Start Time"
    = link_to "", '#', class: "remove_fields glyphicon glyphicon-remove"

