.stage
  .select-stage= select_tag "stages", options_for_select(["Applied"] + @job.stages.collect{ |u| [u.name, u.id, { 'data-id' => u.id, 'data-application' => @application.id }] } + ["Rejected"], @application.stage.present? ? @application.stage.id : 1 ), id: 'move-applicant-stages'



