= render 'top_container'

#main-container
  #padding
    = render 'business/applications/job_applications/all_applications_table'


= render "business/applications/move_stages"
= render "business/comments/add_comment"

.modal#add-to-jobModal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title Add to Job 
      .modal-body

.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title
    
