.page-header
  .top-info
    %h1= "All Applicants"
#job-applicants
  .side-container
    = render "business/applications/all_applicants_filters"        
  .main-container
    = render 'business/applications/all_applicants_table'


  