$('.smallModal').find('form').remove()
$('.smallModal').find('.new-title').html('<%= j "Add to Job" %>');
$('.smallModal').find('.new-modal-header').after('<%= j render "business/applications/move_stages_form" %>');
$('.smallModal').show();


checkbox = $('.applicant-checkbox');
applicant_ids = [];
applicants = [];
applicant_names = [];

for (i = 0, len = checkbox.length; i < len; i++) {
  n = checkbox[i];
  if ($(n).find('input').is(':checked') === true) {
    applicant = [];
    if (!applicant_ids.includes($(n).data('id'))) {
      applicant_ids.push($(n).data('id'));
    }
    if (!applicant.includes($(n).data('id'))) {
      applicant.push($(n).data('id'));
    }
    if (!applicant.includes($(n).parent().parent().find('.name').data('id'))) {
      applicant.push($(n).parent().parent().find('.name').data('id'));
    }
    applicants.push(applicant);
  }
}

numApp = applicants.length
$('.recipients').append('<div class="dropdown", id="addMultiDropDown"> <div class="dropdown-button color="black">' + numApp + ' Candidates Selected <div class="caret"></div> </div> <div class="dropdown-content multiCandidates">')
$('.newModal').find('#applicant_ids').val(applicant_ids)

for (j = 0, len1 = applicants.length; j < len1; j++) {
  n = applicants[j];
  $('.multiCandidates').append('<div class="multi-obj" data-id=' + n[0] + '> <div class="name">' + n[1] + '</div> <div class="applicant_ids" id="delete-tag"> &times </div> </div>');
}