.profile
  .user-general-info 
    .user-picture
      %p Picture
    .user-details
      %h4 Logan Houston 
      %p.location Toronto, Ontario, CA
      %ul
        %li Email: loganh0522@gmail.com
        %li Phone Number: 416-322-3829
        %li Mobile Number: 416-806-6907 


.container
  .sidebar
    %ul
      %li Experience 
      %li Cover Video
      %li Recruitment Process
      %li Questionairre
      %li Scorecard
      %li Post Job 
  