.container.well.col-md-6.col-md-offset-3
  = bootstrap_form_for [:business, @subsidiary] do |f|    
    %fieldset
      .row
        .form-group.col-md-12
          = f.text_field :name, class: "form-control", label: "Name"
      .row
        .col-md-1.col-md-offset-8
          = f.submit "Create Subsidiary", class: "btn btn-primary"

