.answers
  .answer
    = f.text_field :body, id: "question_options", class: "section-answer", autocomplete: 'off' 
    = link_to "", '#', class: "remove_fields glyphicon glyphicon-remove" 
    = f.hidden_field :_destroy
    %span#questionBodyBlock
  