%ul{:id => 'stages'}
  - questions.each do |question| 
    %li{:id => "question_#{question.id}"}
      .question
        .glyphicon.glyphicon-move
        .body= question.body
        .icons
          = link_to edit_business_job_questionairre_question_path(@job.id, @questionairre.id, question.id), :data => {:remote => true } do
            %i.glyphicon.glyphicon-pencil
          = link_to business_job_questionairre_question_path(@job.id, @questionairre.id, question.id), remote: true, :method => :delete do
            %i.glyphicon.glyphicon-remove


         