
.business-registration
  .header
    %img.logo(src="/tmp/logo.jpg")
    %h2 Sign Up Today
  .body
    = bootstrap_form_for @company, html: {class: 'form-horizontal'} do |f|
      = f.text_field :name, label: false, placeholder: "Company Name"
      = f.text_field :website, label: false, placeholder: "Website"
      %input(type="submit" value="Sign Up" class="btn")