.job-seeker-profile
  = render 'job_seeker/background_images/form'
  .job-seeker-topper
    = render 'job_seeker/background_images/background'
  #job-seeker-container
    .projects
      = render 'job_seeker/projects/projects'




.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        .modal-title  
      .modal-body


.modal#project-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        .modal-title  
      .modal-body
      
.modal#show-project-modal
  .modal-dialog
    .modal-content
      .modal-body
 