= bootstrap_form_for [:job_seeker, @user] do |f| 
  .row
    .form-group.col-md-4
      = f.collection_select(:country_ids, Country.all, :id, :name, label: "Country")
    .form-group.col-md-4
      = f.grouped_collection_select(:state_ids, Country.order(:name), :states, :name, :id, :name, include_blank: true)
    .form-group.col-md-4
      = f.text_field :city, class: "form-control", label: "City"