.profile-header
  = render 'job_seeker/user_avatars/user_avatar'
  .personal-details
    = render 'job_seeker/users/personal_details'
  / .user-summary
  /   = current_user.tag_line   
  .change-containers-nav
    %ul
      = link_to job_seeker_user_path(current_user) do
        %li{:class => is_active?(job_seeker_user_path(current_user))} Profile
      = link_to job_seeker_projects_path do
        %li{:class => is_active?(job_seeker_projects_path)} Portfolio
      / = link_to job_seeker_applications_path(current_user) do
      /   %li{:class => is_active?(job_seeker_applications_path(current_user))} My Applications
      /   