.fieldset#add-social-link
  .row
    = f.text_field :url, id: "url_Block", class: "form-control", placeholder: "Social Link (URL)", hide_label: true
    %span#url_msgBlock
    = f.select :kind, ["LinkedIn", "Facebook", "YouTube", "Twitter", "Google-Plus", "Tumblr", "Dribbble", "GitHub","Stack-Overflow" "Instagram", "BitBucket", "Behance", "AngelList", "Medium", "Vimeo", "Pinterest", "Flickr", "Personal", "Other"], :prompt => "Select Type...", id: "kind_Block"
    %span#url_msgBlock
    = link_to "", '#', class: "remove_fields glyphicon glyphicon-remove" 
  %span#url_msgBlock