<% if @errors.present? %> 
  <% @errors.each do |error| %>
    $('#<%= error[0] %>_Block').append('<div class="notice"><%= escape_javascript(error[1]) %></div>');
    $('#event-form').find('#<%= error[0] %>_Block').addClass('has-error');
  <% end %>
<% else %>
  $('#basic-form-modal').modal("toggle");
<% end %>

