.page-header
  %h2 Calendar
#main-container
  #padding
    .side-container
      = form_tag business_interview_invitations_path, :method => 'get', id: "search-form" do
        = render 'filters'
    .main-container
      = render 'business/interview_invitations/interview_invitations'

.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title