= render 'job_header'

#main-container
  #calendar-container
    .side-container
      = form_tag business_job_interview_invitations_path(@job), :method => 'get', id: "search-form" do
        = render 'job_filters'
    .main-container#task-container
      = render 'business/interviews/interviews'

.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title