<% if @job.present?  %>
  checkbox = $('.applicant-checkbox');
  applicant_ids = [];
  applicants = [];
  applicant_names = [];

  for (i = 0, len = checkbox.length; i < len; i++) {
    n = checkbox[i];
    if ($(n).find('input').is(':checked') === true) {
      applicant = [];
      if (!applicant_ids.includes($(n).data('id'))) {
        applicant_ids.push($(n).data('id'));
      }
      if (!applicant.includes($(n).data('id'))) {
        applicant.push($(n).data('id'));
      }
      if (!applicant.includes($(n).parent().parent().find('.name').data('id'))) {
        applicant.push($(n).parent().parent().find('.name').data('id'));
      }
      applicants.push(applicant);
    }
  }

  numApp = applicants.length
  $('.assign-to-row').append('<div class="dropdown", id="addMultiDropDown"> <div class="dropdown-button color="black">' + numApp + ' Candidates Selected <div class="caret"></div> </div> <div class="dropdown-content multiCandidates">')
  $('.newModal').find('#candidate_ids').val(applicant_ids)

  for (j = 0, len1 = applicants.length; j < len1; j++) {
    n = applicants[j];
    $('.multiCandidates').append('<div class="multi-obj" data-id=' + n[0] + '> <div class="name">' + n[1] + '</div> <div class="candidate_ids" id="delete-tag"> &times </div> </div>');
  }
<% end %>


$('.largeModal').find('form').remove()
$('.largeModal').find('.new-title').html('<%= j "Schedule Meeting" %>');
$('.largeModal').find('.new-modal-header').after('<%= j render "business/interview_invitations/form" %>');
$('.largeModal').show();

$('.filter-radios').on('click', '.filter', function(event) {
  if ($(this).attr('id') === 'invitation-details') {
    $('.details-container').show();
    $('.calendar-container').hide();
    $('#invitation-times').removeClass('active');
    $('#invitation-details').addClass('active');
  } else {
    $('.details-container').hide();
    $('.calendar-container').show();
    $('#invitation-details').removeClass('active');
    $('#invitation-times').addClass('active');
  }
});

$(".add-calendar-events").on("click", function() {
  var roomId = $(this).data('id')
  var currentId = $('#select-box-field').val()
  $('#interview-calendar').fullCalendar('removeEventSource', 'rooms/availability/' + currentId)
  
  $('#interview-calendar').fullCalendar('addEventSource', {
    url: 'rooms/availability/' + roomId,
    color: 'red'
  })
});

$(".delete-tag").on("click", function() {
  var userId = $(this).parent().attr('id').split('_')[1]
  $('#interview-calendar').fullCalendar('removeEventSource', 'users/availability/' + userId)
});

$(".user").on("click", function() {
  var userId = $(this).data('id')
  
  $('#interview-calendar').fullCalendar('addEventSource', {
    url: 'users/availability/' + userId,
  })
});


$('#interview-calendar').fullCalendar({
  defaultView: 'agendaWeek',
  header: {
    right: 'prev, next',
    left: 'title'
  },
  views: {
    agendaWeek: {
      type: 'agenda',
      duration: {
        days: 7
      },
      buttonText: 'Week'
    }
  },
  businessHours: {
    dow: [1, 2, 3, 4, 5],
    start: '8:00',
    end: '18:00'
  },
  selectable: true,
  selectHelper: true,
  editable: true,
  eventOverlap: false,
  timezone: "America/NewYork",
  
  eventSources: [{
    url: 'users/availability/<%= current_user.id %>'
  }],
    
  select: function(start, end) {
    var newEvent;
    newEvent = new Object();
    newEvent.title = "Time Slot";
    newEvent.start = moment(start).format('YYYY-MM-DD HH:mm');
    newEvent.end = moment(end).format('YYYY-MM-DD HH:mm');
    newEvent.allDay = false;
    $('#invitation-times-container').empty()
    $('.times').empty()
    $('#interview-calendar').fullCalendar('renderEvent', newEvent);
    calendar.fullCalendar('unselect');
  },

  loading: function (bool) {
  },

  eventRender: function(event, element, view) {
    element.find(".fc-bg").css("pointer-events","none");
    element.append( "<span class='closeon'>X</span>" );
    element.find(".closeon").click(function() {
      $('.times').empty()
      $('#invitation-times-container').empty()
      $('#interview-calendar').fullCalendar('removeEvents', event._id);

      $('.time_' + event._id).remove()
    });
  },

  eventResize: function(event, delta) {
    $('#invitation-times-container').empty()
    $('.times').empty()
  },
  eventDrop: function(event, delta) {
    $('#invitation-times-container').empty()
    $('.times').empty()
  },

  eventAfterRender: function(newEvent, element, view) {
    if (newEvent.editable !== false) {
      var endTime, name, newAttr, startTime;
      startTime = newEvent.start.format('YYYY-MM-DD HH:mm');
      endTime = newEvent.end.format('YYYY-MM-DD HH:mm');
      sTime = newEvent.start.format('ddd HH:mm');
      eTime = newEvent.end.format('ddd HH:mm');
      newAttr = new Date().getTime();
      eventId = newEvent._id
      startName = "interview_invitation[interview_times_attributes][" + newAttr + "][start_time]";
      endName = "interview_invitation[interview_times_attributes][" + newAttr + "][end_time]";
      $('.not-present-container').hide()
      $('#invitation-times-container').append('<div id="time-con" class="time_' + eventId +'">' + sTime + ' - ' + eTime + '<i class="fa fa-times remove-time" ></i></div>')
      $('.times').append('<div class="time_' + eventId +'"><input type="hidden" name="' + startName + '" value="' + startTime + '" /> <input type="hidden" name="' + endName + '"value="' + endTime + '" /></div>');
      
      $(".remove-time").click(function() {
        e = $(this).parent().attr('class').split('time_')[1].toString()
        $('.times').empty()
        $('#invitation-times-container').empty()
        $('#interview-calendar').fullCalendar('removeEvents', e);
        $(this).parent().remove();
      });
    } 
  }, 
});



