= form_for [:business, @photo], :html => {id: "media-photo-up", :multipart => true } do |q| 
  .image-dropzone-container
    %p Drag and Drop Photos, or click button.
    = q.file_field :file_name, :multiple => true, name: "media_photo[file_name]"
    = hidden_field_tag :multiple_upload, nil, value: true
    = q.label :file_name, "Add Photos", class: "btn submit-button"
 
