%section#Job-Header 
  .well.col-md-10.col-md-offset-1
    .col-md-5
      %h4 Lead User Experience Designer
      %p  TalentWiz | Toronto, On, CA | Location: Head Office
      %br
      %p Active | Posted 7 Days Ago |
    .col-md-2.well.text-center
      %p.glyphicon.glyphicon-plane 
      %p Job Details 
    .col-md-2.well.text-center
      %p.glyphicon.glyphicon-plane 
      %p Job
    .col-md-2.well.text-center
      %p.glyphicon.glyphicon-plane 
      %p Job Analytics


