.ul.nav
  .li
    TalentWiz
  .ul.dropdown-menu
    - @subsidiaries.each do |subsidiary| 
      %li= link_to subsidiary.name, business_subsidiary_locations_path(subsidiary)
  .li
    = link_to "New Subsidiary", new_business_subsidiary_path, class: 'btn btn-primary'
    


 %h3 TalentWiz
  .col-md-1
    %ul.dropdown
      - @subsidiaries.each do |subsidiary| 
        %li= link_to subsidiary.name, business_subsidiary_locations_path(subsidiary)
  .add-subsidiary.col-md-1.col-md-offset-5
    = link_to "New Subsidiary", new_business_subsidiary_path, class: 'btn btn-primary'