.accomplishment{id: "accomplishment_#{accomplishment.id}"}
  .accomplishment-body
    = accomplishment.body
  .icons
    = link_to edit_job_seeker_profile_work_experience_accomplishment_path(@profile, position.id, accomplishment.id), :data => {:remote => true} do
      %i.glyphicon.glyphicon-pencil
    = link_to job_seeker_profile_work_experience_accomplishment_path(@profile, position.id, accomplishment.id), remote: true, :method => :delete do
      %i.glyphicon.glyphicon-remove
  %br