- if position.accomplishments.present? 
  - position.accomplishments.each do |accomplishment|
    = render 'job_seeker/accomplishments/accomplishment', accomplishment: accomplishment, position: position
