= bootstrap_form_for [:job_seeker, @accomplishment], html: {remote: true, class: 'invite'} do |f|
  .fieldset
    .row 
      .form-group.col-md-12
        = f.text_area :body, class: "form-control", label: "Accomplishment"
        = f.hidden_field :work_experience_id, value: @work_experience.id
        = f.submit "Add Experience", class: "submit btn btn-primary"

  - if !@accomplishment.new_record?
    .close-form#edit-form.btn.btn-default     
      Close
  - else
    .close-form#new-form.btn.btn-default     
      Close
