<% if @accomplishment.valid? %>
  $('#new_accomplishment').remove();
  $("#work_experience_<%= @work_experience.id %>").find('.accomplishments').html('<%= j render "job_seeker/accomplishments/all_accomplishments", position: @work_experience %>');
<% else %>
  $(".notice").remove();
  $('.form-group').removeClass('has-error');
  <% if @errorBody[0] != nil %>
    $("#body_Block").append('<div class="notice"><%= escape_javascript(@errorBody[0])%></div>')
    $("#body_Block").parent().find('.form-group').addClass('has-error');
  <%end%>
<%end%>