.career-portal-job-container
  .application-form
    .application-header
      %h1 Application Form
      %p Please finish the following questions to apply to this job.
    .application-body
      = render 'form'