.modal#add_commentModal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title Add Note 
      .modal-body
        .to To: 
        .recipients        
      = form_tag add_note_multiple_business_applications_path do
        .modal-body
          = text_area_tag :comment, nil, rows: 5, cols: 75
          = hidden_field_tag :applicant_ids
          = hidden_field_tag :job_id
          %input(type="submit" value="Add Note" class="btn btn-primary")