#job-action-container
  = render 'business/comments/form'
  .activity-feed
    - if @comments.present?
      - @comments.each do |comment|
        = render 'business/comments/comment', comment: comment
    - else  
      .not-present-container
        %p There are currently no notes for this applicant.