= render 'business/applications/top_container'

#main-container
  #job-action-container
    = render 'business/comments/form'
    - if @comments.present?
      .comments
        - @comments.each do |comment|
          = render 'business/comments/comment', comment: comment
    - else  
      .not-present-container
        %p There are currently no notes for this applicant.