- if @job_templates.present? 
  - @job_templates.each do |template| 
    = render 'job_template', template: template

- else
  .not-present-container  
    %p You currently do not have any Job Template
    .add-object= link_to "Add Template", new_business_job_template_path(subsidiary: @subsidiary), remote: true, class: 'btn border-button'