
%li{:id => "stage_#{stage.id}"}
  .stage
    .stage-header
      .glyphicon.glyphicon-move
      .body
        = stage.name
      .icons
        = link_to edit_business_job_stage_path(@job.id, stage.id), :data => {:remote => true } do
          %i.glyphicon.glyphicon-pencil
        = link_to business_job_stage_path(@job.id, stage.id), remote: true, :method => :delete do
          %i.glyphicon.glyphicon-remove
    .stage-body

    / .tasks
    /   .task
    /     Review the candidates application. 
    /     = link_to "Assign Task", "#", :html => {:data => {:remote => true } }
    /   .interview
    /     Phone Interview
    /     = link_to "+ Interview Kit", "#", :html => {:data => {:remote => true }}
    /     = link_to "Assign Interview", "#", :html => {:data => {:remote => true } }


    / .actions
    /   = link_to "+ Add Task", "#", :html => {:data => {:remote => true } }
    /   = link_to "+ Add Interview", "#", :html => {:data => {:remote => true } }
        
