<% if @errors.present? %>
  <% @errors.each do |error| %>
    $('#<%= error[0] %>_msgBlock').append('<div class="notice"><%= escape_javascript(error[1]) %></div>');
    $('#<%= error[0] %>_Block').addClass('has-error');
  <% end %>
<% else %>
  $('.newModal').hide();
  $('#stages').html('<%= j render "stages", stages: @stages %>');
<% end %>



