.page-header
  %h2 Create a Job
#post-a-job
  .side-container
    = render 'business/shared/post_job' 
  .main-container
    .standard-header
      %h2 Recruitment Process
      = link_to 'Add Stage', new_business_job_stage_path(@job), class: "btn border-button2", remote: true
    .create_stages    
      .stage 
        .stage-header
          All Applicants     
      = render "stages", stages: @stages
      .stage 
        .stage-header
          Rejected

.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title



