.container
  .sidebar
    %ul
      %li= link_to "Job Details", edit_business_job_path(@job)
      %li Hiring Team
      %li Recruitment Process
      %li Questionairre
      %li Scorecard
      %li Post Job 


  %main.col-md-8    
    %h1 Team Members 
    %p Add Team Members to this job opening. Providing a team member to a job provides them with access to applicants, and will allow you to easily collaborate with them. 
    = form_for [:business, @job, @stage], html: {class: 'invite'} do |f|
      %fieldset
        .row
          .form-group.col-md-7
            = f.text_field :name, class: "form-control", placeholder: "Name"
            = f.submit "Create New Stage", class: "submit btn btn-primary"