- if @interview_kits.present?
  - @interview_kits.each do |kit| 
    = render 'interview_kit', kit: kit
- else 
  .not-present-container
    %p You currently do not have any Interview Kits
    .add-object= link_to "+ Interview Kit", new_business_interview_kit_template_path(subsidiary: @subsidiary), remote: true, class: 'btn border-button'
      



      