= render 'business/clients/top_container'


#main-container
  #padding
    .side-container
      / = render "filters"
    .application-actions

      = render 'business/client_contacts/contacts_table/contact_actions'
    .main-container
      .all-job-applicants-container
        .all-candidates-table
          = render 'business/client_contacts/contacts_table/table', contacts: @contacts
        .pagination-container
          = render 'business/client_contacts/contacts_table/pagination'




