---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_18JU4bBDRuCwc6R2sX7gXrVJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_7Z032KY6RwNK0xgooEKxqYYO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_18JU4bBDRuCwc6R2sX7gXrVJ",
          "object": "event",
          "api_version": "2015-10-16",
          "created": 1465243905,
          "data": {
            "object": {
              "id": "ch_18JU4aBDRuCwc6R2x7XF3W7n",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1465243904,
              "currency": "cad",
              "customer": "cus_8Z2JOTzC6WSeet",
              "description": "payment to fail",
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "order": null,
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_18JU4aBDRuCwc6R2x7XF3W7n/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_18JU0mBDRuCwc6R2AFU9DtuW",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8Z2JOTzC6WSeet",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 8,
                "exp_year": 2017,
                "fingerprint": "DdC4tjdtETYQoYql",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "failed"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_8afPaZ7QuSPDai",
          "type": "charge.failed"
        }
  recorded_at: Tue, 07 Jun 2016 10:57:05 GMT
recorded_with: VCR 3.0.1
