---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=12&card[exp_year]=2018&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_7Z032KY6RwNK0xgooEKxqYYO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17QeE3BDRuCwc6R2sZvBWafV",
          "object": "token",
          "card": {
            "id": "card_17QeE3BDRuCwc6R2G7JxXowh",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "SAow76ubNBhomPEk",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "99.226.86.122",
          "created": 1452174891,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 07 Jan 2016 13:54:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_17QeE3BDRuCwc6R2sZvBWafV&email=claria%40lindleffler.co
    headers:
      Authorization:
      - Bearer sk_test_7Z032KY6RwNK0xgooEKxqYYO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7g0Ej74mDC2ZOK",
          "object": "customer",
          "account_balance": 0,
          "created": 1452174892,
          "currency": null,
          "default_source": "card_17QeE3BDRuCwc6R2G7JxXowh",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "claria@lindleffler.co",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17QeE3BDRuCwc6R2G7JxXowh",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7g0Ej74mDC2ZOK",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2018,
                "fingerprint": "SAow76ubNBhomPEk",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7g0Ej74mDC2ZOK/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7g0Ej74mDC2ZOK/subscriptions"
          }
        }
  recorded_at: Thu, 07 Jan 2016 13:54:52 GMT
recorded_with: VCR 3.0.0
