!!!5
%html(lang='en-US')
  %body
    %p You are invited by #{@invitation.recipient_name} to join #{@current_company.name} team
    %p= link_to "Accept this invitation", register_with_token_url(@invitation.token)