!!!5
%html(lang='en-US')
  %body
    %p= simple_format(Liquid::Template.parse(@message).render('recipient' => @recipient, 'job' => @job, 'company' => @current_company))
    
    %p= link_to "Schedule Interview Link", schedule_interview_url(@token)