.page-header
  %h1 Build Career Portal 
.company-settings
  .side-container
    = render 'business/shared/admin_sidebar'
  .main-container
    .edit-career-portal
      = render "sections"


  / %h4 Widget Details 
  / = '<script type="text/javascript" src= "http://prod-talentwiz.heroku.com/widget/company_jobs/'"#{current_company.widget_key}"'></script> <style type="text/css">.customCSSclass a{text-decoration:none;} </style>'

     
      
        


