.activity-feed
  margin: 15px 0px 0px 75px
  padding: 5px 0px 15px 0px
  background-color: white
  width: 700px
  border: solid 2px #E4E5E9 

  .activity
    padding: 20px 0 20px 15px 
    border-bottom: 1px solid #E4E5E9 
    overflow: hidden
    .circle
      border-radius: 50%
      margin-right: 10px
      width: 50px 
      height: 50px
      float: left



      