.activity-container
  margin: 50px 8.5% 0 8.5%
  width: 975px
  .activity-filters
    float: left
    height: 500px
    margin: 15px 25px 0px 0px
    
    .nav
      width: 195px
      border: 1px solid #c6c8ca
      border-top: none
      background: #ffffff
      overflow: hidden

      ul 
        list-style: none
        text-decoration: none
        margin-left: -42px
        
        li 
          font-size: 15px
          height: 40px
          padding: 10px 20px 10px 5px
          border-top: 1px solid #c6c8ca

          &:hover 
            cursor: pointer

          a
            color: black
            text-decoration: none
            margin-left: 15px
        
        li.show
          color: rgba(239, 122, 43, .75) 

          .content
            margin: 5px 0 0 15px
            i
              margin-right: 15px 
       
        .body 
          background: #f7f8f9  
          ul 
            list-style: none
            text-decoration: none          
            border-top: 1px solid #c6c8ca
            padding-bottom: 10px

            li
              padding: 0px 0px 0px 0px
              margin: 10px 0 0 45px
              border-top: none
              height: 30px
              font-size: 12px


  .main-container
    float: left
    width: 750px
    height: auto
    padding: 0 40px 50px 40px
    margin: 15px 0 100px 0
    background: #ffffff
    border: 1px solid #c6c8ca
    .header 
      border-bottom: 2px solid rgba(239, 122, 43, .25) 
    .body
      .activity-feed
        float: left
        padding: 5px 0px 15px 0px
        background-color: white
        border-left: 1px solid #ccc
        padding-left: 2.5em
        margin-left: 25px
        
        .activity
          width: 570px
          padding: 10px 10px 20px 15px 
          border: 1px solid #E4E5E9 
          word-wrap: break-word
          margin: 10px 0 5px 25px
          display: block
          position: relative
          font-size: 14px
          .glyphicon.glyphicon-share-alt
            font-size: 20px
          .glyphicon.glyphicon-pencil
            font-size: 20px
          .glyphicon.glyphicon-edit
            font-size: 20px
          .glyphicon.glyphicon-share
            font-size: 20px
          .glyphicon.glyphicon-envelope
            font-size: 20px


          .icon
            height: 45px
            width: 45px
            padding: 10px 12px
            color: #fff
            box-sizing: border-box
            display: block
            background: #EF7B2B
            position: absolute
            left: -6em
            top: 25%
            border-radius: 50%


          &:before,
          &:after
            content: ""
            position: absolute
            width: 0
            height: 0
            border-style: solid
            border-color: transparent
            border-left: 0

          &:before
            top: 35%
            left: -10px
            border-right-color: #E4E5E9 
            border-width: 10px

          &:after
            top: 35%
            left: -9px
            border-right-color: white
            border-width: 10px 
          .circle
            border-radius: 50%
            margin-right: 10px
            width: 40px 
            height: 40px
            float: left
          .circle-img
            float: left
            margin-right: 10px
            border-radius: 50%
            width: 40px 
            height: 40px
            background: #EF7B2B
            text-align: center
            font-size: 18px
            padding-top: 8px
            color: white


        .comment-header
          font-size: 12px
          padding: 0 10px 0 0
          .commenting-user    
            font-size: 14px
            .time 
              float: right
              margin-right: 10px
              font-size: 12px
              color: rgba(0, 0, 0, 0.3)
            span
              font-weight: 600
        .comment-body
          margin: 10px 0 0 0

        .comments-header
          font-size: 12px
          border-bottom: 1px solid rgba(0, 0, 0, 0.1)
          padding: 0 10px 10px 0
          overflow: hidden
          .commenting-user
            font-size: 14px
            .time 
              float: right
              margin-right: 10px
              font-size: 12px
              color: rgba(0, 0, 0, 0.3)
            span
              font-weight: 600
        .comment-body
          margin: 10px 0 0 0

        

        .message-header
          font-size: 12px
          border-bottom: 1px solid rgba(0, 0, 0, 0.1)
          padding: 0 10px 10px 0
          overflow: hidden          
          .message-user-details
            margin: 10px 0 0 5px
            font-size: 14px
            .time 
              float: right
              margin-right: 10px
              font-size: 12px
              color: rgba(0, 0, 0, 0.3)
            span
              font-weight: 600
        .message-body
          margin: 10px 0 0 0

          

        .header 
          height: 20px
          h4
            float: left
            margin-top: 0px
          .time 
            float: right 
        .body






      