.applicant-view
  .applicant-main-container
    float: left
    margin: 0px 15px 0px 0
    .applicant-header
      border: solid 2px #E4E5E9
      margin: 15px 0px 0px 75px
      width: 700px
      height: 208px
      padding: 15px 15px 15px 15px
      background-color: white
      
      .user-image 
        display: inline-block
        img
          width: 125px 
          height: 125px
          border-radius: 50%

      .applicant-details
        display: inline-block
        margin-left: 15px
        vertical-align: top
        .name 
          font-size: 24px
          font-weight: 300

        .contact
          margin-left: 15px 
          .glyphicon
            margin-right: 10px   

          h3 
            font-size: 20px
            margin-top: 5px
          p  
            margin-left: 5px

      .applicant-actions
        float: right
        margin: 15px 15px 0 0 
        .action
          padding: 5px
          text-align: center
          border: solid 2px #E4E5E9
          border-radius: 99px

      .applicant-nav-bar 
        margin: 15px 0 0 -50px
        ul 
          list-style: none
          text-decoration: none
          li
            display: inline-block
            height: 50px 
            padding: 15px 15px 0 15px 
            text-align: center 
            color: white

            a
              color: black
              text-decoration: none
          
          li.active
            border-bottom: solid 3px #EF7B2B

    
    .add-comment-on-applicant
      background-color: #ffffff
      border: solid 2px #E4E5E9
      padding: 10px 10px 10px 10px
      margin: 10px 0px 0px 75px
      width: 700px
      
      table 
        tr
          td
            padding: 5px
      form
        display: inline-block
        
        textarea
          width: 500px
          overflow: hidden

        input
          float: right

      .circle
        border-radius: 50%
        width: 50px 
        height: 50px

    .applicant-experience
      margin: 15px 0px 0px 75px
      padding: 5px 0px 15px 0px
      background-color: white
      width: 700px
      border: solid 2px #E4E5E9

      .header 
        margin: 0 0 15px 25px
        border-bottom: solid 1px #EF7B2B
        width: 650px
        h4
          display: inline-block
          width: 200px
          font-weight: 500
          font-size: 16px

        p
          font-size: 14px

      .applicant-positions       
        margin: 25px 25px 25px 25px           

      .position
        clear: both
        .job-header
          border-bottom: solid 1px black
          overflow: hidden
          .title 
            float: left
          .date
            float: right
            width: 140px
            margin: 10px 0 0 0 
        .job-body
          clear: both

    .applicant-education
      margin: 15px 0px 0px 75px
      padding: 5px 0px 15px 0px
      background-color: white
      width: 700px
      border: solid 2px #E4E5E9

      .header 
        margin: 0 0 15px 25px
        border-bottom: solid 1px #EF7B2B
        width: 650px
        h4
          display: inline-block
          width: 200px
          font-weight: 500
          font-size: 16px

        p
          font-size: 14px

        
        
    .activity-feed
      margin: 15px 0px 0px 75px
      padding: 5px 0px 15px 0px
      background-color: white
      width: 700px
      border: solid 2px #E4E5E9 

      .activity
        width: 550px
        padding: 10px 0 20px 15px 
        border: 1px solid #E4E5E9 
        word-wrap: break-word
        margin: 10px 0 5px 100px
        display: block
        position: relative
        font-size: 14px
        .glyphicon.glyphicon-share-alt
          font-size: 20px
        .glyphicon.glyphicon-pencil
          font-size: 20px
        .glyphicon.glyphicon-edit
          font-size: 20px
        .glyphicon.glyphicon-share
          font-size: 20px

        .icon
          height: 45px
          width: 45px
          padding: 10px 12px
          color: #fff
          box-sizing: border-box
          display: block
          background: #53b2ea
          position: absolute
          left: -6em
          top: 25%
          border-radius: 50%

        &:before,
        &:after
          content: ""
          position: absolute
          width: 0
          height: 0
          border-style: solid
          border-color: transparent
          border-left: 0

        &:before
          top: 35%
          left: -10px
          border-right-color: #E4E5E9 
          border-width: 10px

        &:after
          top: 35%
          left: -9px
          border-right-color: white
          border-width: 10px 
        .circle
          border-radius: 50%
          margin-right: 10px
          width: 40px 
          height: 40px
          float: left
        .circle-img
          float: left
          margin-right: 10px
          border-radius: 50%
          width: 40px 
          height: 40px
          background: #EF7B2B
          text-align: center
          font-size: 24px
          padding-top: 2px
          color: white

      .comment-header
        font-size: 12px
        .commenting-user
          font-weight: 600
          font-size: 14px
          .time 
            float: right
            margin-right: 10px
            font-size: 12px
            color: rgba(0, 0, 0, 0.3)
      .comment-body
        margin: 15px 0 0 0

      .header 
        height: 20px
        h4
          float: left
          margin-top: 0px
        .time 
          float: right 
      .body

  .applicant-side-container
    float: left
    width: 350px
    height: auto
    margin: 15px 75px 0px 15px
    
    .current-stage
      padding-bottom: 15px
      background-color: white
      border: solid 2px #E4E5E9
      border-radius: 3px
      h4 
        padding: 0 0 15px 15px

      .stage 
        width: 300px
        border: solid 1px #EF7B2B
        text-align: center
        margin-left: 26px
      .active
        background-color: #EF7B2B
        color: white
      .stage-actions
        margin-left: 12px
      .btn
        width: 150px 
        height: 30px
        margin: 5px 0 0 10px 
      .btn-danger
        float: left
      .btn-success
        float:left

    .add-task
      padding-bottom: 15px
      background-color: white
      border: solid 2px #E4E5E9
      border-radius: 3px
      
      h4 
        padding: 0 0 15px 15px
        

    .send-applicant-message
      padding-bottom: 15px
      background-color: white
      border: solid 2px #E4E5E9
      border-radius: 3px
      
      h4 
        padding: 0 0 15px 15px
        

.footer 
  clear: both
  height: 500px
      

      