/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require jquery.Jcrop
 *= require font-awesome
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require jquery.timepicker.css
 *= require trix
 *= require slick
 *= require fullcalendar
 *= require_tree .
 */
 
@import url(//fonts.googleapis.com/css?family=Open+Sans)
@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome"

body 
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  margin: 0 0
  background-color: #f7f8f9 
  font-family: Open Sans, sans-serif, Helvetica, Arial, sans-serif
  font-weight: 500

  h1, h2, h3, h4, h5, h6
    font: Open Sans
    font-family: Open Sans, sans-serif, Helvetica, Arial, sans-serif
  h1 
    font-size: 28px
    color: #ffffff
    font-weight: 300
    margin: 12px 0 10px 0
  h2
    font-weight: 300
    font-size: 26px
  h3
    font-weight: 300
    font-size: 20px
    margin: 0 0
  p 
    color: rgba(0, 0, 0, .85)
    font-family:  Open Sans, sans-serif, Helvetica, Arial, sans-serif
    font-weight: 500
section
  width: 100%
header
  width: 100%

.field_with_errors 
  input
    box-shadow: 0px 0px 1px .5px rgba(255, 0, 0, 0.8)
  select
    box-shadow: 0px 0px 1px .5px rgba(255, 0, 0, 0.8)
  trix-editor
    box-shadow: 0px 0px 1px .5px rgba(255, 0, 0, 0.8)

.turbolinks-progress-bar 
  visibility: hidden

#main-container
  overflow: hidden
  width: 100%
  margin-top: 20px
  .actions
    float: right
    margin-bottom: 20px

#padding
  margin: 0px 3% 100px 3%

#create-job-container
  min-height: 300px

#job-nav
  ul 
    padding: 0 0 
    li
      list-style: none
      font-size: 16px 
      font-weight: 300
      padding: 15px 15px 
      height: auto
      color: black
    a
      text-decoration: none
      color: rgba(0,0,0,0.7)
    li.active
      background: rgba(239, 122, 43, 0.3)
      box-shadow: -1.7px 1px 4px 0px rgba(239, 122, 43, 0.1)
      border-radius: 5px 5px
      width: 90%
      z-index: 10

#main-border
  background: #ffffff
  border-radius: 0px
  box-shadow: 0px 1px 2px 1px rgba(199,197,199,1)
  z-index: 0
  height: fit-content

.side-container-right 
  float: right
  width: 24%   
  margin: 0 0 200px 2%
.main-container-left
  float: left
  width: 74%
  margin-bottom: 100px
.side-container 
  float: left  
  width: 24%   
  margin: 0 0 200px 0
.main-container
  float: right
  width: 74%
  margin-bottom: 100px
  .actions
    .border-button
      float: right
  #calendar
    clear: both



.main-container-no-border
  float: right
  width: 74%
  margin-bottom: 100px
.change-containers-nav
  ul 
    list-style: none
    text-decoration: none
    padding-left: 0
    li
      display: inline-block
      padding: 15px 15px 10px 15px 
      text-align: center 
      font-size: 14px
      color: black
      cursor: pointer
    .activated
      border-bottom: 4px solid #EF7B2B
      color: black
.standard-header
  overflow: hidden
  border-bottom: 1px solid #D1DCE4
  padding: 15px 15px
  margin-bottom: 10px
  h3
    float: left
    width: auto
    margin: 8px 0px
  a 
    float: right
    width: auto
    margin-left: 10px
.standard-body
  overflow: hidden
  padding: 15px 15px
  .standard-body-header
    overflow: hidden
    border-bottom: 1px solid rgba(0,0,0,0.1)
    padding-bottom: 10px
    margin-bottom: 10px
    h4
      float: left
      width: auto
      padding: 0 0
      margin-top: 15px
    a 
      float: right
      width: auto
      margin-left: 10px
.container-footer
  margin-top: 15px
  border-top: 1px solid #D1DCE4
  height: auto 
  padding: 15px 15px
  overflow: hidden
  clear: both
  .border-button
    float: right

.page-header
  height: 60px
  width: 100%
  margin: 0px
  padding: 10px 3% 0 3%
  background: #ffffff
  border-bottom: 1px solid #ddd
  h2
    float: left
    margin: 5px 0
    padding: 0 0
  #client-action
    float: right 


trix-editor
  .fluid-token
    background-color: #f0f0f0
.image-dropzone-container
  width: 90%
  clear: both
  margin: 0 auto
  height: 200px 
  border: 2px dashed #c6c8ca
  padding: 50px 0
  border-radius: 5px
  text-align: center
  
  input
    display: none
  .submit-button,
  .border-button
    width: 200px
    margin: 20px auto

  p 
    width: fit-content
    margin: 0 auto
    font-size: 22px
    color: #c6c8ca


.not-present-container
  width: 94%
  height: 200px 
  border: 2px dashed #c6c8ca
  padding: 50px 0
  margin: 3% 3%
  border-radius: 5px
  text-align: center
  p 
    width: fit-content
    margin: 0 auto
    font-size: 22px
    color: #c6c8ca
  .add-object
    margin: 20px auto
    color: #EF7B2B
    width: 200px


.circle
  border-radius: 50%
  width: 35px 
  height: 35px
  float: left
.circle-img
  float: left
  margin-right: 10px
  border-radius: 50%
  width: 35px 
  height: 35px
  background: rgba(0,0,0,0.1)
  text-align: center
  font-size: 24px
  padding-top: 2px
  color: white


.job-seeker-btn
  border: solid 1.2px #EF7B2B
  padding: 10px 20px
  border-radius: 2px
  background: #ffffff
a.job-seeker-btn
  color: black
  font-size: 14px
  text-decoration: none

.submit-button
  display: block
  height: 40px
  border-radius: 2px
  font-size: 14px 
  text-align: center
  padding: 10px 15px 13px 15px
  background: rgba(239, 122, 43, 0.9)
  color: white
  &:hover
    color: white
    text-decoration: none
a.button
  text-decoration: none
  color: white
  text-decoration: none

.danger-btn
  display: block
  height: 40px
  border-radius: 2px
  font-weight: 600
  font-size: 14px 
  text-align: center
  padding: 10px 15px 13px 15px
  color: rgb(255, 255, 255)
  background-color: rgb(217, 83, 79)
  border-color: rgb(212, 63, 58)


.submit-button-deactivated
  display: block
  height: 40px
  border-radius: 2px
  font-weight: 600
  font-size: 14px 
  text-align: center
  padding: 10px 15px 13px 15px
  background: rgba(239, 122, 43, 0.4)
  color: white
label
  color: rgba(0,0,0,0.7)

.border-button
  display: block
  max-height: 40px
  border-radius: 2px
  font-weight: 400
  font-size: 14px 
  text-align: center
  padding: 9px 15px 
  background: none
  border: 1px solid rgba(239, 122, 43, 0.9)
  color: rgba(239, 122, 43, 0.9)
  &:hover
    background-color: rgba(239, 122, 43, 0.1)
    color: rgba(239, 122, 43, 0.9)
    text-decoration: none
a.button
  text-decoration: none
  color: white
a:active, a:focus 
  outline: 0
  color: black
  -moz-outline-style: none

.apply-w-talentwiz
  display: block
  overflow: content
  height: 50px
  width: fit-content
  background: white
  font-weight: 400
  font-size: 14px 
  padding-top: 2px
  border: 1px solid rgba(239, 122, 43, 0.9)
  border-radius: 3px
  color: black
  .logo
    float: left
  .account
    float: left
    margin: 13px 10px 0 5px

  &:hover
    text-decoration: none
    color: black
a.button
  text-decoration: none
  color: white

.button-job-actions
  display: block
  height: 35px
  width: 125px
  background: #fffff
  border: 1px solid #EF7A2B
  color: black
  font: bold Open Sans
  font-size: 12px 
  text-align: center
  padding: 8px 0 10px 0
  &:hover
    background-color: #EF7A2B
    color: #ffffff

a.button-job-actions
  text-decoration: none
  color: black
  display: inline-block

  
.glyphicon-remove
  font-size: 15px

ul.ui-autocomplete-input
  position: absolute
  list-style: none
  margin: 0
  padding: 0
  border: solid 1px #999
  cursor: default
  li 
    background-color: #FFF
    border-top: solid 1px #DDD
    margin: 0
    padding: 0
    a 
      color: #000
      display: block
      padding: 3px
    
    a.ui-state-hover, a.ui-state-active 
      background-color: #FFFCB2
    
input[type=text]
  width: 100%
  padding: 8px 20px
  height: 35px
  margin: 5px 0
  display: inline-block
  border: 1px solid #D1DCE4
  border-radius: 2px
  box-sizing: border-box

input[type=password]
  width: 100%
  padding: 8px 20px
  margin: 8px 0
  display: inline-block
  border: 1px solid #D1DCE4
  border-radius: 2px
  box-sizing: border-box

input[type=email]
  width: 100%
  padding: 8px 20px
  margin: 8px 0
  display: inline-block
  border: 1px solid #D1DCE4
  border-radius: 2px
  box-sizing: border-box

select
  width: 100%
  height: 35px
  background: #ffffff
  margin: 5px 0
  display: inline-block
  border: 1px solid #D1DCE4
  border-radius: 0

trix-editor
  border: 1px solid #D1DCE4

textarea
  width: 100%
  padding: 12px 20px
  margin: 8px 0
  display: inline-block
  border: 1px solid #D1DCE4
  border-radius: 4px
  box-sizing: border-box


.tags
  overflow: hidden
  .tag
    float: left
    border-radius: 5px
    border: 1px solid #EF7B2B
    color: rgba(0,0,0,.7)
    width: auto
    margin: 2px 5px 0 0 
    text-align: center
    padding: 3px 5px 3px 8px
    overflow: hidden
    .name
      float: left
    .delete-can-tag
      float: left
      margin-left: 5px
      color: rgba(0,0,0,.7)
      &:hover
        cursor: pointer

.user-tag
  width: fit-content
  height: auto
  float: left
  padding: 5px 5px
  margin: 5px 5px 0 0 
  overflow: hidden
  border: 1px solid rgba(239, 122, 43, 0.9)
  border-radius: 5px
  .circle-img
    float: left
    margin-right: 5px
  .name
    float: left
    width: auto
  .delete-tag 
    float: right
    width: auto
    margin-left: 5px
    font-size: 14px
    color: rgba(0,0,0,0.7)
  &:hover
    cursor: pointer
  .delete
    float: right
    width: auto
    margin-left: 5px
    font-size: 14px
    color: rgba(0,0,0,0.7)
  &:hover
    cursor: pointer

.email-template-area
  width: 100%
  border: 1px solid rgba(0,0,0,0.1)
  .mce-panel
    border: none
  #message-subject
    border: none
  .email-variables
    border-bottom: 1px solid rgba(0,0,0,.1)
    padding: 10px 15px
    height: auto
  .subject
    height: auto
    border-bottom: 1px solid rgba(0,0,0,.1)
    padding: 0 0
    
  .email-footer
    padding: 10px 10px
    border-top: 1px solid rgba(0,0,0,0.1)
    background: rgba(0,0,0,.05)
    overflow: hidden
    .btn
      float: right
      margin-top: -15px

.dropdown
  position: relative
  display: inline-block
  a
    text-decoration: none
  .dropdown-button 
    &:hover    
      cursor: pointer
  i
    color: rgba(0,0,0, 0.3)
  .dropdown-content
    z-index: 10
    background: #ffffff
    position: absolute
    display: none
    right: 1px
    width: 150px
    height: fit-content
    box-shadow: 0px 1px 2px 1px rgba(199,197,199,1)
    a 
      color: rgba(0,0,0,0.4)
      text-decoraction: none
      width: 100%
      padding: 5px 10px
      display: block
      overflow: hidden
      &:hover
        background: rgba(239,123,43, 0.3)
        text-decoraction: none
        cursor: pointer
      .fa
        float: left
        margin: 5px 10px
      .action
        float: left
        margin: 5px 10px
.dropdown
  #action-dropdown
    width: 200px
    margin-top: 30px





