.applicant-assessments
  margin: 15px 0px 0px 75px
  padding: 5px 0px 15px 0px
  background-color: white
  width: 700px
  border: solid 2px #E4E5E9 
  
  .header 
    margin: 0 0 15px 25px
    border-bottom: solid 1px #EF7B2B
    width: 650px
    h4
      display: inline-block
      width: 200px
      font-weight: 400
      font-size: 20px

  .assessment
    width: 650px
    margin: 0 0 15px 25px
    .application-form
      .question
        font-size: 16px
        font-weight: 400
        padding-bottom: 5px
        border-bottom: 1px solid black
      .answer
        margin-left: 25px