.applicant-scorecard
  margin: 15px 0px 0px 75px
  padding: 5px 0px 15px 0px
  background-color: white
  width: 700px
  border: solid 2px #E4E5E9 
  
  .header 
    margin: 0 0 15px 25px
    border-bottom: solid 1px #EF7B2B
    width: 650px
    overflow: hidden
    
    h4
      display: inline-block
      width: 200px
      font-weight: 400
      font-size: 20px
      float: left
    
    a
      float: right
      color: #EF7B2B
      width: 100px
      margin-top: 10px
    

  .scorecard
    width: 650px
    margin: 0 0 15px 25px
    
    h4
      color: #EF7B2B
      font-weight: 400
      font-size: 18px
   
    .sections 
      p
        font-weight: 400
        font-size: 16px

      table 
        width: 600px

          







