
.applicant-view
  .applicant-main-container
    float: left
    margin: 0px 15px 0px 0
    .applicant-header
      margin: 15px 0px 0px 75px
      width: 700px
      height: 200px
      padding: 30px 15px 30px 15px
      background-color: white
      
      .user-image 
        display: inline-block
        .circle
          border-radius: 50%
          width: 100px 
          height: 100px

      .applicant-details
        display: inline-block
        vertical-align: top
        h3 
          margin-top: 5px
        p 
          margin-left: 5px

    .applicant-nav-bar 
      margin: 0px 0px 0px 75px
      width: 700px

      .ul 
        list-style: none
        text-decoration: none
        background-color: black
        .li
          display: inline-block
          height: 50px 
          width: 112px
          padding: 15px 10px
          border-right: 1px solid white
          text-align: center 
          color: white
    
    .add-comment-on-applicant
      margin: 5px 0px 0px 75px
      width: 700px

    .applicant-experience
      margin: 15px 0px 0px 75px
      padding: 15px 0px 15px 0px
      background-color: white
      width: 700px

      .header 
        margin: 0 0 15px 0
        
        h3 
          display: inline-block
          width: 200px
          margin: 0 0 0 15px
          font-weight: normal    
          
      .experiences
        width: 620px
        margin: 25px 40px 25px 40px 

  .applicant-side-container
    float: left
    width: 350px
    height: auto
    margin: 15px 75px 0px 15px

    .current-stage
      padding-bottom: 15px
      
      h4 
        padding-bottom: 15px
        border-bottom: 1px solid black
      .btn
        width: 200px 
        height: 50px
        margin: 5px 0 0 10px 

    .add-task
      h4 
        padding-bottom: 15px
        border-bottom: 1px solid black
      p
        margin: 0 0 10px 10px
      form
        margin: 0 0 0 10px

    .send-applicant-message
      margin: 20px 0 0 0 
      h4 
        padding-bottom: 15px
        border-bottom: 1px solid black
      p
        margin: 0 0 10px 10px 
      form
        margin: 0 0 0 10px

.footer 
  clear: both
  height: 500px
      

      