.business_nav
  background: white
  height: 50px
  width: 100%
  
  .content
    margin-left: 50px

    ul 
      display: inline-block
      list-style: none
      li    
        margin-right: 20px
        display: inline-block
        a
          color: black
          font-weight: 500
          font-size: 13px
          text-decoration: none