.contain
  margin: 75px 135px 0 135px
  
  .sidebar
    float: left
    margin-right: 25px
    .post-a-job
      margin-bottom: 16.25px

    .nav
      width: 195px
      border: 1px solid #c6c8ca
      background: #ffffff
      overflow: hidden
      
      ul 
        list-style: none
        text-decoration: none
        margin-left: -42px
        margin-bottom: 0px

        
        li 
          font-weight: bold
          font-size: 15px
          height: 50px
          padding: 10px 20px 10px 5px
          border-top: 1px solid #c6c8ca

          a
            color: black
            text-decoration: none
            margin-left: 15px
        
        li.show
          color: rgba(239, 122, 43, .75) 

          .content
            margin: 5px 0 0 15px
            i
              margin-right: 15px 
       
        .body 
          background: #f7f8f9
          ul 
            list-style: none
            text-decoration: none          
            border-top: 1px solid #c6c8ca
            li
              padding: 0px 0px 0px 0px
              margin: 0 0 0 45px
              border-top: none
              font-weight: bold
              font-size: 12px

  .main-container
    float: left
    width: 790px
    height: auto
    background: #ffffff
    border: 1px solid #c6c8ca
    padding: 0 40px 50px 40px
    margin-bottom: 100px

    .header 
      border-bottom: 2px solid rgba(239, 122, 43, .25) 

    .body
      width: 710px
      margin-top: 10px

      .not-present-container
        width: 650px
        height: 200px 
        margin: 25px 30px 0 30px
        border: 2px dashed #c6c8ca
        text-align: center

        p 
          margin: 85px 0 0 70px
          float: left
          color: #c6c8ca
        .add-object
          margin: 85px 0 0 10px
          float: left
          color: #EF7B2B
          font-weight: bold 


    .closed-jobs
      display: none

    .archived-jobs
      display: none

    .draft-jobs
      display: none

    .job
      width: 710px
      margin-top: 15px
      .job-header
        border: 1px solid #c6c8ca
        padding: 10px 25px 0 20px
        height: 50px

        .title 
          font-size: 18px 
          float: left
          margin: 0 25px 0 0
          a 
            color: #000000
        .location 
          margin: 5px 25px 0 0
          font-size: 12px
          float: left
        .posted-time
          font-size: 12px
          float: left
          margin: 5px 25px 0 0
          color: #c6c8ca
        .actions
          float: right
          margin: 5px 0 0 0 
          i 
            color: #c6c8ca
      
      .job-body
        height: 100px 
        border-left: 1px solid #c6c8ca
        border-right: 1px solid #c6c8ca
        border-bottom: 1px solid #c6c8ca

        .btns     
          float: left
          margin: 10px 20px 0 20px
          .btn2 
            margin-top: 5px
        .left-scroll
          float: left
          width: 5px
          margin-top: 25px
          .glyphicon-chevron-left
            height: 50px

        .right-scroll
          float: left
          width: 5px

        .job-stage-area 
          width: 501px
          overflow: hidden 
          margin: 0 0

        .job-gallery
          position: relative

        ul.job-stage-area
          list-style: none
          text-decoration: none
          float: left
          padding: 0 0           
          height: 100px 
        
          li 
            width: 100px
            height: 100px
            float: left
            display: inline
            border-right: 1px solid #c6c8ca
            text-align: center
            
            .number 
              margin-top: 17px
              font-size: 27px 
            .name
              font-size: 12px
              font-weight: bold












