.business-registration
  border-radius: 2px 2px 2px 2px
  border: 1px solid #c6c8ca
  width: 470px
  margin: 50px auto 100px auto
  @media screen and (max-width: 470px)
    width: 90%
  .header
    background: white
    padding: 15px 50px 15px 50px
    text-align: center
    border-bottom: 1px solid #eee

    .logo 
      height: 75px

    h2
      margin-top: 10px
      font-weight: 300

  .body
    margin-top: 0px
    overflow: hidden
    padding: 30px 25px 30px 25px
    background: white

    form 
      width: 100%

    p
      margin-top: 20px
      margin-left: 10px


