#calendar-container
  .side-container
    float: left
    width: 20%
    height: auto
    padding: 5px 10px 0 0
    margin: 20px 1% 0 3%
    #filter-header
      border-bottom: 1px solid rgba(0,0,0,0.2)
      padding-bottom: 5px  
  .main-container
    float: right
    padding: 0 0 
    min-height: 375px
    width: 70%
    margin: 0 4% 50px 0

.calendar-nav-actions
  overflow: hidden
  height: auto
  margin-bottom: 30px
  .actions
    float: right
    width: auto
  .change-containers-nav
    position: absolute
    float: left
    width: auto
    ul 
      list-style: none
      text-decoration: none
      margin-left: -45px
      li
        display: inline-block
        padding: 15px 15px 10px 15px 
        text-align: center 
        font-size: 16px
        color: black
        cursor: pointer
      .activated
        border-bottom: 4px solid #EF7B2B
        color: black
  
#interview
  width: 100%
  background: white
  border-radius: 1px
  margin-bottom: 30px
  box-shadow: 0px 1px 2px 1px rgba(199,197,199,1)
  position: relative
  overflow: hidden
  .date
    width: 90px
    text-align: center
    background: #EF7B2B
    color: #ffffff
    padding: 15px
    float: left
    border-right: 1px solid rgba(0,0,0,0.1)
    .event-day  
      font-size: 20px
    .event-month
      font-size: 16px
  .details
    overflow: auto
  .box-row
    padding: 5px 10px 
    overflow: hidden
    width: 100%
    height: auto
    border-top: 1px solid rgba(0,0,0,0.1)
    .title
      float: left
    .time
      float: right
    .content
      float: left
  

.schedule-interview-container
  width: 60%
  margin: 100px 20% 
  box-shadow: 0px 1px 2px 1px rgba(199,197,199,1)
  padding: 25px 50px 
  background: white
  .logo 
    text-align: center
    width: auto
  .time-container
    width: 100%
    border: 1px solid rgba(0,0,0,0.1) 
    border-radius: 3px
    padding: 15px 15px
    margin-bottom: 15px
    background: #ffffff
    text-align: center

    &:hover
      cursor: pointer
      background: #EF7B2B



