.career-portal-job-container
  margin: 0 5%
  .job-description
    h1
      color: black
      margin-bottom: 2px
    width: 63%
    padding: 20px 50px 100px 50px
    background-color: white
    border: 1px solid #c6c8ca
    float: left
    .job-header
      padding-bottom: 10px
      margin-bottom: 20px
      border-bottom: 1px solid rgba(0, 0, 0, .3)

  .extra-job-details
    width: 33%
    float: left
    margin-left: 2%
    padding: 10px 30px 100px 30px
    border: 1px solid #c6c8ca
    background-color: white

