.career-portal
  background: #ffffff
  height: 900px
  padding: 50px
  .container
    margin: 0 0 0 200px
    width: 750px
    .header 
      border-bottom: 1px solid black 
      h1
        margin-bottom: 10px
    .body    
      p
        margin: 20px 20px 
    
    .jobs
      margin: 0 0 0 50px
      .job
        width: 600px 
        border-bottom: 1px solid #c6c8ca
        overflow: hidden
        .details
          float:left
          h4 
            margin-bottom: 5px
        .btn 
          float: right
          margin: -50px 20px 0 0 


