.top-container
  height: 300px
  text-align: center
  margin-top: -80px
  padding-top: 50px
  background: #EF7B2B
  color: white

  .intro-message
    margin-right: 15%
    margin-left: 15%
    width: 70%

    .header 
      margin-bottom: 20px
      font-size: 42px
      font-weight: 100
    .sub-header
      font-size: 18px
      font-weight: 100
      margin-bottom: 30px


.feature-overview-container
  padding-top: 45px
  margin: 0 10%
  .feature-overview
    border-bottom: 1px solid rgba(0, 0, 0, 0.25)
    padding-bottom: 45px
    .row
      margin-top: 35px
    .feat
      .img
        float: left
        width: 75px
      .des
        float: left
        width: 300px
        margin-left: 25px
        h4
          margin-top: 0
        .btn-large
          background: none
          border: 1px solid rgba(0, 0, 0, 0.4)
          border-radius: 3px
          color: black

.features-container
  padding-top: 75px
  margin: 0 10%


  .features-nav
    float: left
    border-right: 1px solid rgba(0, 0, 0, 0.2)
    padding-right: 30px
    width: 23%
    
    h5
      font-weight: bold
    ul 
      list-style: none
      text-decoration: none
      li
        margin-left: -40px
        font-size: 12px
        margin-top: 5px

  .branded-job-board
    float: left
    width: 77%
    padding: 0 50px
    .header
      font-size: 20px
      border-bottom: 1px solid rgba(0, 0, 0, 0.2)
      padding-bottom: 20px


    .feature-container
      margin: 40px 0 0 -15px
      border-bottom: 1px solid rgba(0, 0, 0, 0.2)
      padding-bottom: 20px
      overflow: hidden
      .feature
        font-size: 18px
        font-weight: bold
      .description
        p
          font-size: 16px