.modal-header 
  background: #EF7B2B
  color: #fff
.form-row-no-border
  padding: 0 15px
  background: #FFFFFF
  overflow: hidden
.form-row2
  overflow: hidden
  border-bottom: 1px solid rgba(0,0,0,0.1)
  padding: 5px 10px
  background: #FFFFFF
.permission-header
  padding: 10px 15px
  font-size: 16px 
  background: #D1DCE4
.form-row
  padding: 10px 15px
  overflow: hidden
  border-bottom: 1px solid rgba(0,0,0,0.1)
  .header
    margin-bottom: 5px
    .title
      float: left
      font-size: 16px
      font-weight: bold
    .add_fields
      border: 1px solid #EF7B2B
      color: #EF7B2B
      text-decoration: none
      border-radius: 3px
      float: right
      padding: 5px
    .glyphicon
      float: right
      border: 1px solid rgba(0,0,0,0.2)
      padding: 10px
      border-radius: 3px
      color: rgba(0, 0, 0, 0.5)
      margin-right: 10px
      top: 0
      &:hover
        cursor: pointer



.contain-45-right
  float: right
  width: 48%
  margin-left: 2%
.contain-100
  margin-right: 2%
.contain-45
  float: left
  width: 48%
  margin-right: 2%
.contain-50
  float: left
  width: 49%
  margin-right: 1%
.contain-2
  float: left
  width: 24%
  margin-right: 1%
.contain-3
  float: left
  width: 32%
  margin-right: 1%
.contain-4
  width: 10%
  float: left
.contain-25
  float: left
  width: 24%
  margin-right: 1%
.contain-75
  float: left
  width: 74%
  margin-right: 1%
.task-form
  background: #ffffff
  margin-top: 0
  .task-input
    height: 20px
    padding-left: 0  
  .no-border-input
    width: 100%
    padding: 8px 0px
    margin: 8px 0
    display: inline-block
  input
    border: none
  select
    border: none
  input:focus
    outline: none
  textarea:focus
    outline: none
  #comment-body
    width: 100%
    height: 100px
    padding: 5px 15px
    border: none
    border-bottom: 1px solid rgba(0,0,0,0.1)
    margin: 0
    border-radius: 0 
  .comment-area-footer
    padding: 10px 10px
    border-top: 1px solid rgba(0,0,0,0.1)
    background: rgba(0,0,0,.05)
    overflow: hidden
    clear: both
    .btn
      float: right
      margin-right: 10px
    .submit-button
      float: right

#addMultiDropDown
  .dropdown-content
    background: #ffffff
    position: absolute
    width: fit-content
    right: 1px
    min-width: 200px
    height: -webkit-fit-content
    height: -moz-fit-content
    height: fit-content
    max-height: 250px
    -webkit-box-shadow: 0px 1px 2px 1px #c7c5c7
    box-shadow: 0px 1px 2px 1px #c7c5c7
    overflow-y: scroll
  .multiCandidates
    .multi-obj
      max-width: inherit
      overflow: hidden
      height: auto
      text-overflow: ellipsis
      float: left
      padding: 6px 10px
      margin: 0 0
      width: 100%
      overflow: hidden
      border-bottom: 1px solid rgba(239, 122, 43, 0.9)
      .name
        float: left
        width: auto
        width: 80%
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
        margin-top: 3px
      #delete-tag
        float: right
        width: auto
        margin-left: 5px
        font-size: 14px
        color: rgba(0, 0, 0, 0.7)
        padding: 3px 3px
        &:hover
          background: rgba(239, 122, 43, 0.3)
          border-radius: 50%
          cursor: pointer



.email-area
  width: 100%
  z-index: 1000
  background: #ffffff
  #message-body
    border-top: 1px solid rgba(0,0,0,0.1)
  #comment 
    width: 100%
    border: none
    &:focus 
      outline: none
  .email-variables
    padding: 10px 10px
    overflow: hidden
    height: auto
    border-bottom: 1px solid rgba(0,0,0,0.1)
    .show-hidden-search-box
      float: left
      margin-right: 25px
  .from
    height: 50px
    padding: 15px 15px
    border-bottom: 1px solid rgba(0,0,0,0.1)
    .title
      float: left
      width: 10%
    .sender
      float: left
      width: 90%
  .to 
    height: 50px
    padding: 15px 15px
    border-bottom: 1px solid rgba(0,0,0,0.1)
    .title
      float: left
      width: 10%
    .recipients
      float: left
      width: 90%
    .sender
      float: left
      width: 90%
  .subject
    height: fit-content
    clear: both
    border-bottom: 1px solid rgba(0,0,0,.1)
    overflow: hidden
    padding: 15px 15px
    #subject_Block  
      float: left
      border: none
      width: 90%
      height: auto
      margin: -7px 0 
      padding-left: 0
      &:focus 
        outline: none
    #message-subject
      float: left
      border: none
      width: 80%
      height: auto
      margin: -7px 0 
      padding-left: 0
      &:focus 
        outline: none
    .title
      float: left
      width: 10%


  .email-content
    padding: 10px 10px
  .email-footer
    padding: 10px 10px
    border-top: 1px solid rgba(0,0,0,0.1)
    background: rgba(0,0,0,.05)
    overflow: hidden
    .btn
      float: right
      margin-top: -15px
      margin-right: 10px


.comment-area
  background: #ffffff
  border-radius:  0 0 5px 5px
  margin-top: 0
  input:focus
    outline: none
  textarea:focus
    outline: none
  .comment-body
    width: 100%
    min-height: 150px
    padding: 5px 15px
    border: none
    margin: none
  #comment 
    width: 100%
    border: none
    &:focus 
      outline: none
  #comment-body
    width: 100%
    height: 150px
    padding: 5px 15px
    border: none
    margin: none
  .comment-area-footer
    padding: 10px 10px
    border-top: 1px solid rgba(0,0,0,0.1)
    border-bottom: 1px solid rgba(0,0,0,0.1)
    background: rgba(0,0,0,0.05)
    overflow: hidden
    .btn
      float: right
      margin-right: 10px
    .submit-button
      float: right
      
.invitation-form
  padding: 5px 10px


#add-user-form
  .modal-body
    padding: 10px 20%
    min-height: 300px
  .users
    .user
      overflow: hidden
      padding: 10px 10px 
      border: 1px solid rgba(0,0,0,0.2)
      margin-top: 5px
      .name
        float: left
      .glyphicon-remove
        float: right
        color: rgba(0,0,0,0.5)
        margin-top: 2px
        font-size: 12px
        &:hover
          cursor: pointer

#add-time
  margin-top: 10px
  padding: 0 2%
  clear: both
  #task_due_date
    float: left
    width: 60%
    margin-right: 1%
  #timepicker
    float: left
    width: 30%
  .remove_fields
    float: left
    color: rgba(0,0,0,0.5)
    margin: 20px 0 0 1%
    width: 8%

.assign-to-row
  overflow: hidden
  width: 100%
  border: none
  padding: 5px 0px
  .assign-user
    clear: both
    width: fit-content
    float: left
    #users-search
      margin: 0 0       
      border: none
      margin: none
  .assigned-users
    float: left
    width: 80%
    margin-left: 1%
    overflow: hidden
  .assigned-candidates
    float: left
    width: 80%
    margin-left: 1%
    overflow: hidden



#auto-search
  overflow: hidden
  .tags
    width: 200px
    float: left
    margin: 0 10px 0 10px
  #add-tag-button 
    width: auto
    padding: auto
    height: 35px
    float: left
    border: 1px solid rgba(239, 122, 43, 0.9)

#add-tags
  overflow: hidden


#tag
  float: left
  border-radius: 5px
  background-color: #EF7B2B
  color: white
  width: auto
  padding: 2px 5px 2px 5px
  margin-right: 5px
  height: auto
  .tag-name
    float: left
  .remove-recipient 
    float: left
    margin-left: 5px
    &:hover
      cursor: pointer

#add-social-link
  clear: both
  margin-left: 3%
  input
    width: 60%
    float: left
    clear: both
    margin-right: 5px
  select
    float: left
    width: 20%
  .glyphicon-remove
    float: left
    width: 5%
    color: rgba(0, 0, 0, 0.5)
    border: none 
    margin-top: 5px


#add-header-link
  clear: both
  .form-row-no-border
    padding: 0 0
  input
    width: 60%
    float: left
    clear: both
    margin-right: 5px
  select
    float: left
    width: 20%
  .glyphicon-remove
    float: left
    width: 5%
    color: rgba(0, 0, 0, 0.5)
    border: none 
    margin-top: 5px


.choose-stage
  margin: 50px 15%
  .title 
    float: left
    width: 29%
  #stages 
    background: none
    border: 1px solid rgba(0,0,0,0.1)
    height: 40px
    width: 71%  
.search-form
  overflow: hidden
  .search-area-content
    overflow: hidden
    input
      border: none
      float: left
      width: 90%
    input:focus
      outline: none
    .search-field
      border: none
      background: none
      float: left
      width: auto
    .search-field:focus
      outline: none
    .fa-stack-2x
      position: relative
      font-size: 20px
      float: left
      width: fit-content
      margin: 11px 10px
      color: rgba(0,0,0,0.4)

.hidden-search-box
  display: none
  z-index: 100
  background: #ffffff
  box-shadow: 0px 1px 2px 1px rgba(199,197,199,1) 
  min-width: 300px
  max-height: 300px
  max-width: 300px
  height: fit-content
  position: absolute
  overflow-y: scroll
  input
    border: 1px solid #ccc
  .search-area-content
    overflow: hidden
    input
      border: none
      float: right
      width: 90%
    input:focus
      outline: none
    .fa-stack-2x
      font-size: 20px
      float: left
      width: fit-content
      margin: 11px 10px
      color: rgba(0,0,0,0.4)
  .auto-users,
  .auto-candidates
    .user,
    .candidate
      overflow: hidden
      width: 100%
      padding: 5px 5px
      border-top: 1px solid #D1DCE4
      .name 
        float: left
        margin-top: 8px
        width: 75%
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      .circle-img
        float: left
      .add-user-btn
        float: right
        border: 1px solid #EF7B2B
        border-radius: 5px
        margin-top: 2px
        padding: 5px 8px
        color: rgba(0,0,0,0.7)
      &:hover
        cursor: pointer

  .assigned-users
    width: 100%
  .insert-tokens
    width: 100%
    .insert-token
      width: 100%
      padding: 10px 10px
      &:hover
        cursor: pointer
        background: rgba(239,123,43, 0.3)
    .insert-template
      width: 100%
      padding: 10px 10px
      &:hover
        cursor: pointer
        background: rgba(239,123,43, 0.3)
  .select-box
    width: 100%
    .select-item
      width: 100%
      padding: 10px 10px
      &:hover
        cursor: pointer
        background: rgba(239,123,43, 0.3)
  #search-results

.show-hidden-search-box
  width: fit-content
  .plain-text
    color: rgba(239,123,43, 0.8)
    height: 24px
    margin-top: 7px
    &:hover
      cursor: pointer
  #multiple-users
    float: left
    margin-left: 10px
  .add-button-search
    border-radius: 50%
    width: 40px
    height: 40px
    border: 1px solid rgba(0,0,0,0.3)
    padding: 10px 12px
    margin-top: 4px
    margin-right: 10px
    float: left
    &:hover
      cursor: pointer
    .glyphicon
      color: rgba(0,0,0,0.3)

.add-team-member-search
  float: right
  .users
    .user
      overflow: hidden
      width: 100%
      padding: 5px 5px
      border-top: 1px solid #D1DCE4
      .name 
        float: left
        margin-top: 6px
      .circle-img
        float: left
      .add-user-btn
        float: right
        border: 1px solid #EF7B2B
        border-radius: 5px
        margin-top: 3px
        padding: 5px 8px
        color: rgba(0,0,0,0.7)

.has-error
  box-shadow: 0px 0px 1px 1px #a94442

.ui-menu
  li.ui-menu-item
    width: 100%
    &:hover
      background: rgba(239,123,43, 0.3)
      cursor: pointer
      .ui-menu-item-wrapper
        background: none
        border: none
        color: rgba(0,0,0,0.7)
  .ui-menu-item-wrapper
    width: 100%
    background: none
    border: none
    color: rgba(0,0,0,0.7)
    &:hover
      background: none
      border: none
      color: black
      text-decoration: none

#new_interview_invitation
  .filter-radios  
    border-bottom: 1px solid rgba(0,0,0,0.1)
    overflow: hidden
    ul
      padding-left: 0
      margin-bottom: 0
      list-style: none
      li

        padding: 15px 15px
        float: left
      .active
        border-bottom: 4px solid #EF7B2B
      .filter
        margin-bottom: 0
  .details-container
    display: none      



#single-photo-form
  margin-bottom: 20px
  input
    display: none
  .header
    .border-button
      float: right
    .title
      float: left
      font-size: 18px
  #photo
    clear: both


