.home-intro-header
  margin-top: -80px
  padding-top: 50px
  padding-bottom: 50px
  text-align: center
  color: white
  background: url("../tmp/intro-bg.jpg") no-repeat center center
  background-size: cover
  height: 530px

  .intro-message
    margin-top: 50px
    width: 900px
    margin-left: 180px
    .header 
      margin-bottom: 20px
      font-size: 58px
      font-weight: 100
    .sub-header
      font-size: 18px
      font-weight: 100
      margin-bottom: 30px
    .sign-up   
      .btn-large
        font-size: 18px
        width: 175px

.home-intro-info1 
  padding: 50px 100px 50px 100px
  padding-bottom: 50px
  text-align: center
  background-color: white
  height: 700px
  
  .header

    .circle
      border-radius: 50%
      background: grey
      height: 200px
      width: 200px

.home-intro-info2
  height: 400px