.home-intro-header
  padding-top: 100px
  text-align: center
  height: 400px
  background: url()
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  .intro-message
    margin-right: 15%
    margin-left: 15%
    width: 70%
    .header 
      margin-bottom: 20px
      font-size: 44px
      font-weight: 300
    .sub-header
      font-size: 18px
      font-weight: 100
      margin-bottom: 30px
    
    .sign-up   
      .btn-large
        font-size: 18px
        width: 175px

#feature-section-right
  height: auto
  padding: 50px 
  overflow: hidden
  background: #ffffff
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  .description
    width: 48%
    float: left
    margin-right: 4%
    h2
      margin-top: 0
    p 
      margin-top: 25px
      font-size: 16px
      color: rgba(0,0,0,0.7)
  .image
    width: 48%
    float: right
    img
      border-radius: 5px
      box-shadow: 0px 1px 2px 1px rgba(199,197,199,1)
      max-width: 100%

#feature-section-left
  height: auto
  padding: 50px 
  overflow: hidden
  background: #ffffff
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  .description
    float: right
    width: 48%
    margin-left: 4%
    h2
      margin-top: 0
    p 
      margin-top: 25px
      font-size: 16px
      color: rgba(0,0,0,0.7)
  .image
    float: left
    width: 48%
    img
      border-radius: 5px
      box-shadow: 0px 1px 2px 1px rgba(199,197,199,1)
      max-width: 100%




.content-breaker
  background: #EF7B2B
  text-align: center
  margin-top: -20px
  color: white
  padding-left: 10%
  padding-right: 10%
  padding-top: 20px
  padding-bottom: 20px

.home-intro-info
  padding: 50px 100px 75px 100px
  text-align: center
  background-color: #ffffff
  .content
    margin-top: 20px
  
  .header
    .circle
      border-radius: 50%
      background: grey
      height: 200px
      width: 200px

    .second-row
      margin-top: 60px

    p
      font-size: 16px
      color: rgba(0, 0, 0, 0.7)

    .btn
      margin-top: 15px

.summary
  text-align: left
  overflow: hidden
  padding: 50px 5% 75px 5%
  background: #fff
  h2
    margin-top: 0 
  .text-container
    width: 40%
    float: left
    h4
      font-weight: 700
      margin-top: 25px
    .description
      width: 100%
  .image
    float: left
    margin-top: 100px
    margin-left: 5%
    width: 50%
    img
      border: 1px solid rgba(0, 0, 0, 0.1)

.mid-container
  text-align: center
  padding-top: 75px
  padding-bottom: 75px
  background: #EF7B2B
  color: white

  .btn-trial
    border: solid 1.5px white
    padding: 10px 20px
    border-radius: 2px
    font-size: 16px
    margin-top: 25px
  a
    text-decoration: none
    color: white

.bottom-container
  background: white
  padding: 50px 10% 150px 10%
  
  h4
    font-weight: 600
  ul 
    list-style: none
    text-decoration: none
    font-size: 14px
    li
      margin-left: -40px
      font-size: 16px










/* Pricing Page */ 


.pricing-intro-header
  text-align: center
  color: white
  background: #EF7B2B
  background-size: cover
  height: auto
  padding: 50px
  .intro-message
    .header 
      margin-bottom: 20px
      font-size: 42px
      font-weight: 300
    .sub-header
      font-size: 18px
      font-weight: 300
      margin-bottom: 30px

.standard-container
  padding: 50px 0
  text-align: center
  height: auto
  background: white
  border-bottom: 1px solid rgba(0,0,0,0.1)

  .intro-message
    .header 
      margin-bottom: 20px
      font-size: 32px
      font-weight: 300
      color: rgba(0,0,0,0.75)
    .sub-header
      font-size: 18px
      font-weight: 300
      margin-bottom: 30px

.pricing-type
  margin-bottom: 25px
  ul 
    list-style: none
    text-decoration: none
    margin: 0 0 0 -30px
    li 
      display: inline-block
      height: auto
      padding: 10px 15px
      border-radius: 5px 
      width: 150px
      text-align: center
      border: 1px solid rgba(0,0,0,0.1)
      color: black
      &:hover 
        cursor: pointer
        background: rgba(0,0,0,0.05)
        
    .active-price 
      background: #EF7B2B
      border: none
      color: white

.pricing-table
  ul 
    list-style: none
    text-decoration: none
    margin: 0 0 0 -30px
    li 
      display: inline-block
      height: auto 
      width: 175px
      padding: 10px 10px
      border-radius: 5px
      box-shadow: 0px 1px 2px 1px rgba(199,197,199,1)
      text-align: center
      border: 1px solid #c6c8ca
      margin: 15px 15px 0 0
      .title
        font-size: 28px

        color: rgba(0,0,0,0.7)
        margin-bottom: 15px 
      .cost
        font-size: 32px
        font-weight: bold
        color: rgba(0,0,0,0.7)
        margin-bottom: 20px
      .jobs
        font-size: 16px
        margin-bottom: 20px
  .yearly
    display: none
  .sign-up
    margin-top: 30px





/* Features Page */ 


#features-nav
  width: 100%
  ul
    width: 100%
    overflow: hidden
    list-style: none
    text-decoration: none
    text-align: center
    margin: 0 0
    a
      text-decoration: none
      color: black
    li
      display: inline-block
      padding: 30px 20px
      width: 20%
      float: left
      height: 100px
      font-size: 16px
      border-right: 1px solid rgba(0,0,0,0.1)
      color: black
      



.top-container
  padding-top: 50px
  padding-bottom: 50px
  background: #EF7B2B
  .intro-message
    margin-right: 15%
    margin-left: 10%
    width: 70%
    color: white

    .header 
      margin-bottom: 20px
      font-size: 58px
      font-weight: 100
.feature-overview-container
  padding-top: 45px
  margin: 0 10%
  
  .feature-overview
    border-bottom: 1px solid rgba(0, 0, 0, 0.25)
    padding-bottom: 45px
    .row
      margin-top: 35px
    .feat
      .img
        float: left
        width: 75px
      .des
        float: left
        width: 75%
        margin-left: 25px
        h4
          margin-top: 0
        .btn-large
          background: none
          border: 1px solid rgba(0, 0, 0, 0.4)
          border-radius: 3px
          color: black

.features-container
  padding-bottom: 75px
  margin: 50px 5% 0 5%
  overflow: hidden

  .features-nav
    float: left
    overflow: hidden
    border-right: 1px solid rgba(0, 0, 0, 0.2)
    padding-right: 30px
    width: 23%
    
    h5
      font-weight: bold
    ul 
      list-style: none
      text-decoration: none
      li
        margin-left: -40px
        font-size: 12px
        margin-top: 5px

        a 
          color: black
      li.active
        a
          color: #EF7B2B
          
  .branded-job-board
    float: left
    overflow: hidden
    width: 77%
    padding: 0 0 0 50px
    .feature
      margin-bottom: 20px
      font-size: 42px
      font-weight: 100
    .header
      font-size: 20px
      border-bottom: 1px solid rgba(0, 0, 0, 0.2)
      padding-bottom: 20px


    .feature-container
      margin: 40px 0 0 -15px
      border-bottom: 1px solid rgba(0, 0, 0, 0.2)
      padding-bottom: 20px
      overflow: hidden
      .feature
        font-size: 18px
        font-weight: bold
      .description
        p
          font-size: 16px
        .sub-header
          font-size: 18px
    .next-page
      margin-top: 40px
      font-size: 16px
      .next
        margin-top: 30px
      a
        font-size: 36px
        text-decoration: none
        color: #EF7B2B



