.job-seeker-homepage
  margin: -50px 5%

  .details-container 
    width: 48%
    float: left
    margin-right: 12%
  
  .sign-up
    width: 40%
    background: #ffffff
    box-shadow: 0px 0px 2px 0px rgba(199,197,199,1)
    padding: 5% 5%
    float: left
    
    h2
      margin-top: 0px

