.job-show-header
  background: #ffffff
  margin: 60px 0 25px 0
  padding: 30px 3% 0 3%
  border-bottom: 1px solid rgba(0,0,0,0.1)
  color: black
  h1
    margin-top: 0
    font: 24px 
    font-weight: 400
    color: black
  
  .header 
    margin-bottom: 10px
    padding-bottom: 10px
    overflow: hidden
    .details
      float: left
      color: black
      .link
        text-decoration: none
        color: black
    .links
      float: right
      width: auto

  .change-containers-nav
    clear: both 
    ul 
      list-style: none
      text-decoration: none
      margin: 10px 0 -2px -45px
      font-size: 16px
      a
        color: black
        text-decoration: none
      li
        display: inline-block
        height: 50px 
        padding: 15px 15px 0 15px 
        text-align: center 
        &:hover 
          cursor: pointer
      li.activated
        border-bottom: solid 4px #EF7B2B

      li.not-active
        border: none

.all-job-applicants-container
  .not-present-container
    width: 90%
    margin: 0 5% 25px 5%


#calendar-container
  .calendar 
    border-collapse: collapse
    width: 100%

    td, th 
      font-family: "Lucida Grande", arial, helvetica, sans-serif
      font-size: 10px
      padding: 6px
      border: 1px solid #999
    
    th 
      background: #DDD
      color: #666
      text-align: center
      width: 14.2857142857143%
    
    td 
      background: #FFF
      color: #777
      height: 80px
      vertical-align: top
      font-size: 16px
    

    .notmonth
      a 
        color: #CCC
    .today 
      background-color: #D7F2FF


  #articles 
    #month 
      margin: 0
      padding-bottom: 10px
      text-align: center
      font-size: 22px
      a 
        text-decoration: none
        padding: 0 10px
        color: #999

  #articles 
    ul 
      font-size: 11px
      padding-left: 20px
