.job-show-header
  margin: 35px 90px 25px 90px
  padding: 10px 10px 0 10px
  background: #ffffff
  border: 1px solid #c6c8ca
  width: 1100px
  h1
    margin-top: 0
  
  .header 
    border-bottom: solid 1px #EF7B2B
    margin-bottom: 10px

  .job-stages
    ul 
      list-style: none
      text-decoration: none
      margin: 0 0 0 -30px

      li 
        display: inline-block
        height: 100px 
        width: 130px
        text-align: center
        border: 1px solid 
        background-color: white

        &:hover 
          background-color: orange
        .number 
          margin-top: 17px
          font-size: 27px 
        .name
          font-size: 12px
          font-weight: bold

      li.activated
        background: 1px #EF7B2B
        border: 1px solid black
        .number 
          color: black
        .name
          color: black
  
  .job-applicants-nav   
    ul 
      list-style: none
      text-decoration: none
      margin: 10px 0 -2px -35px
      font-size: 16px
      li
        display: inline-block
        height: 50px 
        padding: 15px 15px 0 15px 
        text-align: center 
        &:hover 
          cursor: pointer
      
      li.activated
        border-bottom: solid 3px #EF7B2B

      li.not-active
        border: none
        
  

.job-applicants 
  background: #ffffff
  margin: 0px 90px 100px 90px
  border: 1px solid #c6c8ca
  width: 1100px

  .header
    margin-bottom: 20px
    margin-left: 40px
    width: 1020px
    border-bottom: solid 1px #EF7B2B
    overflow: hidden
    padding-bottom: 20px
    
    h1
      float: left
      margin: 25px 0 0 10px
    .actions
      float: right
      margin: 20px 10px 0 0

  
  .applicants
    .table 
      margin-left: 40px
      width: 820px
      thead
        display: table-header-group
    
    .checkbox
      margin-left: 20px
    .circle
      display: inline-block
      margin: 5px 0 5px 0
      img
        width: 40px 
        height: 40px
        border-radius: 50%
    .circle-img
      margin: 0px 0px 5px 0px
      border-radius: 50%
      width: 40px 
      height: 40px
      background: #EF7B2B
      text-align: center
      font-size: 24px
      padding-top: 2px
      color: white

    .name 
      margin: 5px 0 0 0 
      a
        color: rgba(0, 0, 0, 0.8)
        font-size: 14px
        font-weight: 600
    .current-position
      font-size: 10px

    .position
      font-size: 12px
      margin: 10px 0 0 0 
    .date-applied
      font-size: 10px
    
    .stage
      font-size: 12px
      margin: 10px 0 0 0 
    .modal-layer 
      display: none
      position: fixed 
      top: 0 
      right: 0 
      bottom: 0
      left: 0
      z-index: 2 
      background: rgba(0, 0, 0, .3)

    .move-stages-modal 
      display: none
      position: absolute
      top: 100px
      z-index: 3

  .not-present-container
    width: 700px
    height: 200px 
    margin: 25px 100px 50px 100px
    border: 2px dashed #c6c8ca
    text-align: center
    display: none

    p 
      margin: 85px 0 0 300px
      float: left
      color: #c6c8ca

.job-activity
  background: #ffffff
  margin: 0px 90px 100px 90px
  border: 1px solid #c6c8ca
  width: 1100px
  display: none
  .header
    margin-bottom: 20px
    margin-left: 40px
    width: 1020px
    border-bottom: solid 1px #EF7B2B
    overflow: hidden
    padding-bottom: 20px
    
    h1
      float: left
      margin: 25px 0 0 10px
  .body
    overflow: hidden
    .activity-filters
      float: left
      height: 500px
      margin: 15px 25px 0px 40px    
      .nav
        width: 195px
        overflow: hidden
        
        ul 
          list-style: none
          text-decoration: none
          margin-left: -42px
          margin-bottom: 0px
   
          li 
            font-size: 15px
            height: 50px
            padding: 10px 20px 10px 5px

            &:hover 
              cursor: pointer

            a
              color: black
              text-decoration: none
              margin-left: 15px
          
          li.show
            color: rgba(239, 122, 43, .75) 

            .content
              margin: 5px 0 0 15px
              i
                margin-right: 15px 
         
          .body 
            ul 
              list-style: none
              text-decoration: none          
              border-top: 1px solid #c6c8ca
              
              li
                padding: 0px 0px 0px 0px
                margin: 10px 0 0 45px
                border-top: none
                height: 30px
                font-size: 12px

    .job-activity-feed
      float: left
      padding: 5px 0px 15px 0px
      background-color: white
      border-left: 1px solid #ccc
      padding-left: 2.5em
      margin-left: 25px
      
      .activity
        width: 600px
        padding: 10px 0 20px 15px 
        border: 1px solid #E4E5E9 
        word-wrap: break-word
        margin: 10px 0 5px 25px
        display: block
        position: relative
        font-size: 14px
        .glyphicon.glyphicon-share-alt
          font-size: 20px
        .glyphicon.glyphicon-pencil
          font-size: 20px
        .glyphicon.glyphicon-edit
          font-size: 20px
        .glyphicon.glyphicon-share
          font-size: 20px

        .icon
          height: 45px
          width: 45px
          padding: 10px 12px
          color: #fff
          box-sizing: border-box
          display: block
          background: #53b2ea
          position: absolute
          left: -6em
          top: 25%
          border-radius: 50%


        &:before,
        &:after
          content: ""
          position: absolute
          width: 0
          height: 0
          border-style: solid
          border-color: transparent
          border-left: 0

        &:before
          top: 35%
          left: -10px
          border-right-color: #E4E5E9 
          border-width: 10px

        &:after
          top: 35%
          left: -9px
          border-right-color: white
          border-width: 10px 
        .circle
          border-radius: 50%
          margin-right: 10px
          width: 40px 
          height: 40px
          float: left
        .circle-img
          float: left
          margin-right: 10px
          border-radius: 50%
          width: 40px 
          height: 40px
          background: #EF7B2B
          text-align: center
          font-size: 24px
          padding-top: 2px
          color: white


      .comment-header
        font-size: 12px
        .commenting-user
          font-weight: 600
          font-size: 14px
          .time 
            float: right
            margin-right: 10px
            font-size: 12px
            color: rgba(0, 0, 0, 0.3)
      .comment-body
        margin: 15px 0 0 0

        

      .header 
        height: 20px
        h4
          float: left
          margin-top: 0px
        .time 
          float: right 
      .body
