.job-seeker-homepage
  margin: 5%
  overflow: hidden
  .details-container 
    width: 50%
    float: left
    margin-right: 5%
    margin-top: -20px
    .feature
      margin-top: 20px
      overflow: hidden
      .img
        float: left
        width: 10%
        clear: both
      .des
        float: left
        width: 85%
        margin-left: 5%
        h4
          margin-top: 0
  .job-seeker-registration
    width: 40%
    background: #ffffff
    box-shadow: 0px 1px 8px 1px rgba(199,197,199,1)
    border-radius: 3px
    padding: 20px 0
    float: left
    margin: 10px 3% 10px 0px
    text-align: center
    .header
      border-bottom: 1px solid rgba(0,0,0,0.1)
    .body
      padding: 0 5%
      .first_name
        width: 49%
        float: left
        margin-right: 2%
      .last_name
        width: 49%
        float: left
    h2 
      margin-top: 0px
      
.job-board-header
  background: url("/tmp/people-coffee-tea-meeting.jpg") center no-repeat
  background-size: cover
  height: 300px
  position: relative
  @media screen and (max-width: 800px)
    width: 100%
    margin: 0 0 
  .intro-message
    color: #ffffff
    position: absolute
    text-align: center
    width: 100%
    margin: 0 auto
    height: 200px
    background: rgba(0,0,0,0.4)
    .header 
      margin-top: 50px
      font-size: 44px
      font-weight: 300
      height: auto
    .sub-header
      font-size: 20px
      font-weight: 300
      margin-bottom: 30px
      height: auto
  .header-container
    margin: 0 auto
    padding: 25px 0
    height: 100px
    position: absolute
    background: rgba(0, 0, 0, 0.6)
    bottom: 0
    width: 100%
    .contain
      width: 100%
      max-width: 1280px
      overflow: hidden
      margin: 0 10%
      #job-search
        width: 50%
        float: left
        height: 45px
        margin: 0 0
        margin-left: 10px
      #geocomplete
        width: 30%
        float: left
        height: 45px
        margin: 0 0
  
.job-board
  width: 100%
  max-width: 1280px
  margin: 0 auto
  .filters
    float: left
    width: 22%
    margin: 20px 1% 0 2%
    height: 200px
    .header 
      font-size: 24px
      font-weight: 100
    .filter
      background: white
      margin: 10px 0
      box-shadow: 0px 1px 2px 1px rgba(199,197,199,1)
      .title
        height: 40px
        padding: 10px 0 0 20px
        font-weight: 400
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
      .body
        background: #ffffff
        height: 100px 
        overflow-y: auto
    
  .jobs
    float: right
    width: 70%
    margin: 65px 2% 0 1%
    .job-posting
      width: 100%
      margin-bottom: 20px
      padding: 10px 10px 10px 10px
      background: #ffffff
      border-radius: 2px
      box-shadow: 0px 1px 2px 1px rgba(199,197,199,1)
      .header-info
        overflow: hidden
        margin-bottom: 10px
        .logo
          float: left
          margin-top: 10px
        .view-job
          float: right
          margin: 7px 25px 0 0
          box-shadow: 1px 1px 2px 1px rgba(199,197,199,1)
        .job-detail
          float: left
          margin-left: 30px
        
          .title
            font-size: 18px
            font-weight: 500
            a
              color: black
          .company  
            color: rgba(0, 0, 0, 0.6)
            font-weight: 500
      .bottom-info
        border-top: 1px solid rgba(0, 0, 0, 0.1)
        padding-top: 10px
        color: rgba(0, 0, 0, 0.6)
        font-size: 12px
        overflow: hidden
        .left-side
          float: left
          img
            margin: 0 5px 0 10px
        .right-side
          float: right
          img
            margin: 0 5px 0 10px

    


.main-row-container
  width: 100%
  background-color: #ffffff
  .inner-container
    width: 100%
    max-width: 1280px
    margin: 0 auto
    padding: 25px 4%
    overflow: hidden
    @media screen and (max-width: 780px)
      width: 100% 
      padding: 25px 0 
    .job-description
      width: 80%
      margin: 0 auto
      padding: 0 25px 100px 25px
      @media screen and (max-width: 780px)
        width: 100%  
      h1
        color: black
        margin-bottom: 2px
      .submit-button
        margin: 25px auto
        padding: 10px 40px
        height: fit-content
        width: fit-content
        font-size: 18px
      .job-header
        padding-bottom: 10px
        margin-bottom: 20px
        border-bottom: 1px solid rgba(0, 0, 0, .3)
        overflow: hidden
        .details
          h2
            margin-top: 0
          float: left
        .actions
          float: right
          .share-job-details
            float: left
            padding: 10px 10px
            margin-top: 10px
            border: 1px solid rgba(0,0,0,0.2)
            border-radius: 5px
            .type
              float: left
              margin: 5px 10px 0 0 
              font-size: 15px
            .fa
              position: unset
              float: left
            a
              float: left
              margin-right: 10px
            .fa-facebook-square
              color: #3b5998
            .fa-linkedin-square
              color: #0e76a8
            .fa-twitter-square
              color: #55acee
            .fa-stack-2x
              position: unset
          .apply
            float: left
            a
              text-decoration: none
            .app-btn
              width: 100%
              margin: 0 0
              font-size: 18px
              padding: 11px
              border-radius: 3px 
              text-align: center
              font-decoration: none
          
      .job-body
        font-size: 16px  
   

.application-form
  width: 90%
  margin: 0 auto
  h1
    color: black
  .application-header
    border-bottom: 1px solid rgba(0,0,0,0.1)
    width: 100%
  .application-body
    margin-top: 15px
    width: 100%
    .submit-button
      margin: 25px auto
      padding: 10px 40px
      height: fit-content
    .question
      margin-top: 15px
      .question-title
        font-weight: 600
        color: rgba(0,0,0,0.7)
      .answer
        ul
          list-style: none
          margin-left: 10px
          padding: 0 0 
  .application-footer




