.job-show-header
  margin: 0px 50px 100px 50px

.job-stages
  ul 
    list-style: none
    text-decoration: none
    
    li 
      display: inline-block
      height: 90px 
      width: 130px
      padding: 10px 10px
      text-align: center
      border: 1px solid 
      background-color: white
      &:hover 
        background-color: orange

.job-applicants 

    
      