.modal
  border-radius: 0px
  .modal-header
    background-color: #EF7B2B
    .modal-title
      color: #ffffff
  
  .modal-body
    height: auto
    overflow: auto 
    padding: 25px 25px

    .recipients
      display: inline-block
      overflow: hidden
      .to 
        float: left
        margin: 4px 7px 0 0
      #applicant
        float: left
        border-radius: 5px
        background-color: #EF7B2B
        color: white
        width: auto
        margin: 2px 5px 0 0 
        padding: 3px 5px 3px 5px
        .name 
          float: left
        .remove-recipient 
          float: left
          margin-left: 5px

          &:hover
            cursor: pointer

  .modal-footer
    border-radius: 0px


.btn-primary
  border-radius: 0px
  background-color: rgba(239, 123, 43, .9)
  color: #ffffff
  border: none
  
  &:hover 
    background-color: #EF7B2B