.modal
  border-radius: 0px
  .modal-header
    background-color: #EF7B2B
    .modal-title
      color: #ffffff
  
  .modal-body
    height: auto
    overflow: auto 
    padding: 25px 25px
  .modal-footer
    border-radius: 0px


.btn-primary
  border-radius: 0px
  background-color: rgba(239, 123, 43, .9)
  color: #ffffff
  border: none
  
  &:hover 
    background-color: #EF7B2B