.modal
  z-index: 10
  border-radius: 0px 0px 0px 0px
  .pac-container
    z-index: 20
  .modal-header 
    border-radius: 0px
    background-color: #f8f8f8
    .modal-title
      color: rgba(0,0,0,.7)
    .close
      color: rgba(0,0,0,.7)
      font-size: 24px
  .modal-body
    height: auto
    padding: 0 0 25px 0
    background-color: #ffffff
    #comment 
      width: 100%
      border: none
      &:focus 
        outline: none
    .email-area
      width: 100%
      .to 
        height: auto
        padding: 10px 10px
        border-bottom: 1px solid rgba(0,0,0,0.1)
        overflow: hidden
        .title
          float: left
          width: 10%
        .recipients
          float: left
          width: 90%
        .sender
          float: left
          width: 90%
      .choose-stage
        margin: 50px 15%
        .title 
          float: left
          width: 29%
        #stages 
          background: none
          border: 1px solid rgba(0,0,0,0.1)
          height: 40px
          width: 71%      
      .subject
        height: auto
        border-bottom: 1px solid rgba(0,0,0,.1)
        overflow: hidden
        padding: 0 0
        #message-subject
          float: left
          border: none
          width: 80%
          height: auto
          margin: 0 0 
          padding-left: 0
          &:focus 
            outline: none
        .title
          float: left
          width: 10%
          margin: 10px 0 10px 10px
      .mce-panel
        border: none
      .email-variables
        height: auto
        padding: 10px 10px
        border-bottom: 1px solid rgba(0,0,0,0.1)
      #applicant
        float: left
        border-radius: 5px
        background-color: #EF7B2B
        color: white
        width: auto
        margin: 0 5px 0 0 
        padding: 2px 5px 2px 5px
        height: auto
        .name
          margin-top: 0 
          float: left
        .remove-recipient 
          float: left
          margin-left: 5px

          &:hover
            cursor: pointer

    .editable-container
      width: 100%
      height: 200px
      background: white
      border-radius: 5px
    .sub-header
      text-align: center
      .logo 
        margin-bottom: 25px
      h3
        margin-bottom: 25px

    .sub-footer
      margin-top: 20px
      margin-bottom: -58px
      .create-account
        float: left
        width: 50%
        border-right: 1px solid #c6c8ca
        text-align: center
        padding-top: 10px
        height: 40px
      .forgot-password
        float: left
        padding-top: 10px
        width: 50%
        text-align: center
        height: 40px


    /* Interview Modal Body Content 

    .scheduled-interview
      .date-location
        overflow: hidden
        .name 
          font-size: 16px
          float: left
          width: 50%
        .time 
          font-size: 16px
          float: right
          width: 50%
      .interviewers
        ul 
          
          list-style: none
          text-decoration: none
          
          li
            width: 150px
            height: 50px
            margin: 10px 20px 0 -20px
            display: inline-block
            .circle-img
              float: left
              margin-right: 10px
              border-radius: 50%
              width: 40px 
              height: 40px
              background: #EF7B2B
              text-align: center
              font-size: 24px
              padding-top: 2px
              color: white
            .interviewer-name 
              float: left
              font-size: 14px
              margin: -3px 0 0 10px
              width: 75px


  .modal-footer
    background: #f8f8f8
    overflow: hiden
    .submit-button
      float: right
      margin-left: 5px
    .border-button2
      float: right
      margin-left: 5px
 
.modal-backdrop
  z-index: 5    

.modal-content
  border-radius: 0px

#user-information
  .modal-body
    padding: 25px 25px
    width: auto
    .row
      margin: 0 0 



#userProfilePictureModal
  .modal-dialog
    width: 80%
  .modal-body
    width: 100%
    padding: 0 0
    overflow: hidden
    padding: 50px 50px 0 50px
  .modal-footer
    width: 100%






#jobBoardRowModal
  .modal-dialog
    width: 80%
  .modal-body
    width: 100%
    padding: 0 0
    overflow: hidden
    min-height: 400px
    .job-board-form-nav
      width: 20%
      float: left
      padding: 20px 20px 0px 20px
      ul
        list-style: none
        padding: 0 0
        li
          font-size: 16px
          margin-bottom: 10px
          padding-left: 10px
          border-left: 3px solid #ffffff
        .active 
          border-left: 3px solid #EF7B2B
    .job-board-form
      width: 80%
      padding: 20px 20px 0px 20px
      float: left
      border-left: 1px solid rgba(0, 0,0,0.1)
    .job-board-layout
      display: none
      overflow: hidden
      padding: 130px 0 0 0
      min-height: 400px
      border-left: 1px solid rgba(0, 0,0,0.1)
      .float-left
        float: left
        margin-left: 20px
        img
          opacity: 0.3
      .float-center
        float: left
        margin-left: 20px
        img
          opacity: 0.3
      .float-right
        float: left
        margin-left: 20px
        img
          opacity: 0.3
      input:checked ~ label 
        img 
          opacity: 1
      input
        display: none 

  .modal-footer
    width: 100%




#SubLoginModal
  .modal-header
    padding-left: 4%
    h2
      margin-top: 5px
  .modal-dialog
    width: 80%
  .modal-body
    overflow: hidden 
    width: 100%
    padding: 25px 5%
    h3
      margin-top: 0
    .new-user
      float: left
      width: 45%
    .sign-in
      float: left
      width: 45%
      margin-left: 9%
  .modal-footer
    .power
      float: right
      overflow: hidden
      .powered-by
        margin-top: 15px
        float: left
      img
        float: left

#subNewUserModal
  .modal-body
    padding: 25px 5%
    .have-account
      margin-top: 15px
  .modal-footer
    .power
      float: right
      overflow: hidden
      .powered-by
        margin-top: 15px
        float: left
      img
        float: left

      