.stage-form
  float: right
  width: auto
  overflow: hidden
  #stage_name 
    width: 300px
    float: left
    margin: 0 0
  #team_members
    width: 300px
    float: left
    margin: 0 0 
  .submit
    float: left
    border-radius: 5px
    width: 150px
  .invitation
    float: right
    margin-top: -10px
    margin-bottom: 15px

.stages
  padding: 15px 15px          
  .stage   
    border-radius: 5px
    margin-bottom: 10px
    color: rgba(0,0,0, .7) 
    width: 100%
    height: auto
    box-shadow: 0px 1px 2px 1px rgba(199,197,199,1)
    .stage-header
      background-color: rgba(0, 0, 0, 0.05) 
      height: auto
      overflow: hidden
      padding: 10px 10px 
      border-bottom: 1px solid rgba(0,0,0,.1)
      .glyphicon.glyphicon-move
        float: left
        margin-right: 15px
        color: rgba(0,0,0, .3)
      .body
        float: left
      .icons
        float: right
        margin-right: 10px
        margin-top: 2px
        i  
          color: rgba(0,0,0, .3)
          margin-left: 5px
    &:hover
      cursor: move
    .stage-body
      height: 100px
    .actions
      float: rights

      a:first-of-type
        margin-right: 10px
  .sections
    ul
      width: 100%
      padding: 0 0
      li
        list-style: none
        color: rgba(0,0,0, .7)
    .row
      margin-bottom: 15px
    .section 
      width: 45%
      border-radius: 5px
      box-shadow: 0px 1px 2px 1px rgba(199,197,199,1)
      float: left
      margin-right: 2.5%
      .section-header
        background-color: rgba(0, 0, 0, 0.1) 
        padding: 5px 15px
        overflow: hidden
        h4 
          float: left
        .icons
          float: right
          margin-top: 10px
          text-decoration: none
          i  
            color: rgba(0,0,0, .3)
            margin-left: 5px
      .section-body
        padding: 15px 15px
        ul
          width: 100%
          padding: 0 0
          li
            list-style: none
            margin-bottom: 15px
            color: rgba(0,0,0, .7)

.job_scorecard
  height: auto
  clear: both
  box-shadow: 0px 1px 2px 1px rgba(199,197,199,1)
  .scorecard-section
    width: 100%
    background: #ffffff
    padding: 10px 15px
    border-bottom: 1px solid rgba(0,0,0,0.1)
    .title
      width: 95%
      margin: 0px 2.5% 
      padding: 5px 0 
      border-bottom: 1px solid rgba(0,0,0,0.4)
      font-size: 18px
    .options
      width: 95%
      margin: 0px 2.5% 
      font-size: 14px
      .option
        margin-top: 5px

.scorecard-container
  .create-scorecard
    width: 100%
    overflow: hidden
    background: #ffffff
    border-radius: 1px 
  .scorecard-details
    width: 100%
    .section:first-child
      border: none
    .section
      border-top: 1px solid #D1DCE4
      .section-header
        padding: 0px 10px
      .section-body
        padding: 0px 20px 5px 20px
        .criteria
          margin: 0px 20px

#scorecard-form
  width: 100%
  background: #ffffff
  padding: 10px 0
  margin-bottom: 10px
  overflow: hidden
  .add_fields
    color: #EF7B2B 
  #add-section
    margin: 10px 10px
  .form-header
    font-size: 20px
    padding: 0 25px
  .scorecard-area
    border-bottom: 1px solid #D1DCE4 
    padding: 10px 25px
    .header
      overflow: hidden
      width: 100%
      .section-title
        width: 80%
        float: left
      .remove_question
        float: right
        width: 19%
        margin-top: 17px
        display: none
    .add_fields
      color: #EF7B2B 
      margin: 25px 0 10px 350px
    .question
      width: 800px
      margin: 15px 0 0 25px
    .answers 
      width: 600px
      margin: 5px 0 0 50px
      .form-control
        float: left
        width: 400px
        margin-bottom: 5px
        margin-right: 10px   
      .glyphicon
        margin: 18px 0 0 10px
        float: left
        color: rgba(0,0,0,0.3)
        text-decoration: none 
  .footer
    margin-top: 15px
    border-top: 1px solid #D1DCE4 
    overflow: hidden
    height: auto
    padding: 10px 10px
    clear: both
    .submit-button
      float: right
      margin-left: 15px
    .border-button
      float: right

.questions-container
  padding: 15px 15px
  .questions
    margin-bottom: 25px
    ul
      width: 100%
      padding: 0 0
      li
        list-style: none
        box-shadow: 0px 1px 2px 1px rgba(199,197,199,1)
        border-radius: 5px
        float: left
        width: 100%
        margin-bottom: 15px
        color: rgba(0,0,0, .7)
      .question 
        background-color: rgba(0, 0, 0, 0.03) 
        padding: 15px 15px 
        overflow: hidden
        .glyphicon.glyphicon-move
          float: left
          margin-right: 20px
          color: rgba(0,0,0, .3)
        .body
          float: left
          margin-top: -2px
        .icons
          float: right
          margin-right: 10px
          text-decoration: none
          i  
            color: rgba(0,0,0, .3)
            margin-left: 5px
        &:hover
          cursor: move
  .question-area
    width: 100%
    background: #ffffff
    box-shadow: 0px 1px 2px 1px rgba(199,197,199,1)
    margin-bottom: 10px
    padding: 5px 0
    clear: both
    .answer-type
      border-bottom: 1px solid rgba(0,0,0,0.1)
      width: 100%
      overflow: hidden
      padding: 0 15px 
      .title
        float: left
        font-size: 16px
        margin: 12px 20px 0 0 
        font-wieght: 600
        width: auto
      .question-type
        float: left
        height: 35px
        width: 150px
      .required-answer
        float: left
        width: auto
        margin: 15px 0 0 35px
    .add_fields
      color: #EF7B2B 
      margin: 15px 0 10px 335px
      display: none
    .question-field
      width: 90%
      margin: 15px 0 0 25px
    .answers 
      width: 600px
      margin: 5px 0 0 50px
      .form-control
        float: left
        width: 400px
        margin-bottom: 5px
        margin-right: 10px   
      .glyphicon
        margin: 18px 0 0 10px
        float: left
        color: rgba(0,0,0,0.3)
        text-decoration: none 
  .footer
    margin-top: 15px
    border-top: 1px solid rgba(0,0,0,0.1)
    overflow: hidden
    height: auto
    padding: 10px 10px
    .submit-button
      float: right
      margin-left: 15px
    .border-button
      float: right
  



