#post-a-job
  margin: 0px 3% 100px 3%
  .main-container
    float: right
    background: #ffffff
    box-shadow: 0px 1px 2px 1px rgba(199,197,199,1)
    padding: 10px 10px
  .side-container
    float: left
    ul 
      li
        list-style: none
        font-size: 24px 
        margin-bottom: 15px

        li.active
          