.stages
  background-color: #ffffff
  width: 900px
  float: left
  margin: 0 0 0 15px

  .header 
    margin: 0 0 15px 25px
    border-bottom: solid 1px #EF7B2B  
    overflow: hidden
    width: 850px
    h4
      display: inline-block
      width: 200px
      font-weight: 400
      font-size: 20px

    form
      #stage_name
        width: 400px
        float: left
        margin: 0 20px 20px 20px
  
  .stages
    margin-bottom: 10px   
    width: 800px

    .panel-heading
      width: 800px
      background-color: #EF7B2B 
      .stage
        float: left
        margin-left: 10px
        font-weight: 600

      .icons
        float: right
        margin-right: 10px
        
        i  
          color: black
          margin-left: 5px

    .panel-body
      width: 800px
      height: 100px
      border: 1px solid #ccc