.job-seeker
  .sidebar
    float: left
    margin: 15px 25px 0px 15%
    width: 200px
    background: white
    border: 1px solid #E4E5E9
    padding: 10px 10px 30px 10px
    
    .user-general-info        
      .user-image 
        text-align: center
        width: 175px
        height: 175px
        margin-bottom: 30px

    .user-profile-nav
      overflow: hidden 
      ul 
        list-style: none
        text-decoration: none
        margin-bottom: 0px
        margin-left: -40px
     
        li 
          font-size: 15px
          height: 30px
          padding: 5px 0 5px 0

          a
            display: block
            color: black
            text-decoration: none
            height: 20px

  .main-container
    float: left
    margin: 15px 0 50px 0
    padding: 0 40px 50px 0
    width: 650px
    
    
    .personal-details
      overflow: hidden
      height: 200px
      position: relative
      background: white
      margin-bottom: 10px
      border: 1px solid #E4E5E9
      padding: 10px 
      .name
        float: left
        color: black
        margin-top: 0px

      .details 
        margin-left: 25px
        .tag-line
          font-size: 16px
          clear: both
        .current_location
          margin-top: 10px
          .bold
            font-weight: bold
            float: left
          .shift
            margin-left: 35px
            float: left
        .current_experience
          clear: both
          .bold
            margin-top: 10px
            font-weight: bold
            float: left
          .shift
            margin-top: 10px
            margin-left: 40px
            float: left
        .current_education
          clear: both
          .bold
            margin-top: 10px
            font-weight: bold
            float: left
          .shift
            margin-top: 10px
            margin-left: 25px
            float: left
      
        

      .contact-info
        position: absolute
        bottom: 0

        
        ul
          list-style: none
          margin-left: -30px
          li
            display: inline-block
            margin-right: 20px

    .header 
      border-bottom: 2px solid rgba(239, 122, 43, .25) 
      overflow: hidden
      
      h1
        float: left
      
      .new_experience
        float: right
        margin: 15px 0 0 0
        a
          color: #EF7B2B  
        
    .body
      .not-present-container
        width: 560px
        height: 200px 
        margin: 25px 0 25px 0
        border: 2px dashed #c6c8ca
        text-align: center

        p 
          margin: 85px 0 0 70px
          float: left
          color: #c6c8ca
        .add-object
          margin: 85px 0 0 10px
          float: left
          color: #EF7B2B
          font-weight: bold 
    
    .job-position
      .experience-header
        overflow: hidden
        margin: 10px 0 0 0
        .company
          font-size: 18px
          font-weight: 300
          float: left 
        .edit
          float: right
      .experience-position 
        overflow: hidden
        .title
          float: left         
          font-size: 15px
          font-weight: 400
          color: rgba(0, 0, 0, .6)
        .date
          float: right
          font-size: 13px  
          font-weight: 400 
          color: rgba(0, 0, 0, .6)
      
      .experience-body
        margin: 10px 0 
      
      .accomplishments
        margin-top: 10px
        .acc 
          font-size: 16px
          font-weight: 200
          width: 130px

        ul 
          li
            float: left
            width: 450px

            &:hover + .icons
              background: rgba(0, 0, 0, 0.05)
              display: block
            &:hover 
              background: rgba(0, 0, 0, 0.05)

          .icons
            float: left
            margin-left: 2px
            width: 40px
            display: none
            
            &:hover 
              background: rgba(0, 0, 0, 0.1)
              display: block

            &:hover 
              background: rgba(0, 0, 0, 0.1)
            





      .actions
        ul
          display: inline-block
          list-style: none
          margin: 10px -40px
          
          li
            float: left
            margin-right: 30px
            a
              color: #EF7B2B

    .experiences
      width: 650px
      margin: 25px 100px 25px 100px 

    .education-container
      background: white
      border: 1px solid #E4E5E9
      padding: 5px 20px 10px 20px
      display: none

      form
        margin-bottom: 50px

    .experience-container
      background: white
      border: 1px solid #E4E5E9
      padding: 5px 20px 10px 20px

    .skills-container 
      background: white
      border: 1px solid #E4E5E9
      padding: 5px 20px 10px 20px
      display: none

    .career-prefs-container
      background: white
      border: 1px solid #E4E5E9
      padding: 5px 20px 10px 20px
      display: none
    .my-apps-container
      background: white
      border: 1px solid #E4E5E9
      padding: 5px 20px 10px 20px
      display: none

  #profile-picture-modal
    .image
      height: 200px
    .preview
      height: 200px



   
     







