.profile
  margin: 50px 10px 10px 160px

  .user-general-info 
    height: 200px 
    width: 580px
    
    border-radius: 1px
    background-color: white
    border: solid 1px #ccc
    .user-picture
      width: 150px
      height: 200px
      float: left
      border-right: solid 1px #ccc
    .user-details
      margin: 10px 10px
      padding: 0px 10px

      p.location
        font-size: 12px

      ul
        margin: 120px 0 0 0
        text-decoration: none
        li 
          display: inline
          list-style: none
          font-size: 12px


  .user-work-experience
    margin-top: 20px
    padding: 20px
    border: solid 1px #ccc
    background-color: white
    width: 800px
    
    h3
      margin-top: 0px
      float: left
      width: 30%
    .btn.add-work-experience
      float:right
      width: 30%
      margin: 0 0 0 600px

    .add-new-position-form
      margin-top: 20px
      border-top: solid 1px #ccc
