.header
  .new_experience
    = link_to "+ Education", new_job_seeker_educcation_path, remote: true, :html => {id: 'new_work_experience_button'}
.body
  - if current_user.educations.count == 0
    .not-present-container#education-not-present
      %p You currently do not have any education. 
      .add-object= link_to "+ Education", new_job_seeker_education_path, :data => {:remote => true}, class: 'btn border-button'               
  - else 
    %div{:id => "educations"}
      - current_user.educations.each do |degree| 
        = render 'job_seeker/educations/education', degree: degree