/* line 1, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-settings {
  margin: 20px 4%;
  overflow: hidden;
}
/* line 4, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-settings .side-container {
  float: left;
  width: 20%;
  margin-right: 2%;
}
/* line 8, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-settings .side-container .nav-section {
  margin-bottom: 10px;
  font-size: 20px;
}
/* line 11, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-settings .side-container ul {
  padding: 0 0;
  font-size: 18px;
}
/* line 14, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-settings .side-container ul li {
  list-style: none;
  font-size: 15px;
  font-weight: 300;
  padding: 10px 15px 10px 0;
  height: auto;
  color: black;
}
/* line 21, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-settings .side-container ul li.active {
  color: #EF7B2B;
}
/* line 23, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-settings .side-container ul a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
/* line 26, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-settings .main-container {
  float: left;
  background: #ffffff;
  min-height: 300px;
  -webkit-box-shadow: 0px 7px 14px 0px rgba(199, 197, 199, 0.1), 0px 3px 6px 0px #c7c5c7;
          box-shadow: 0px 7px 14px 0px rgba(199, 197, 199, 0.1), 0px 3px 6px 0px #c7c5c7;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10px;
}
/* line 35, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-settings .main-container .company-users h4 {
  float: left;
}
/* line 37, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-settings .main-container .company-users .invite {
  float: right;
}
/* line 39, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-settings .main-container .company-users .invite .form-control {
  width: 320px;
  float: left;
}
/* line 42, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-settings .main-container .company-users .invite .submit {
  margin: 9px 0 0 10px;
  float: left;
}

/* line 47, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.sync-email {
  margin-top: 10px;
  padding: 0px 0px;
  float: right;
}

/* line 51, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
#synced {
  background: rgba(0, 161, 241, 0.1);
}

/* line 53, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.sync-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
  padding: 5px 5px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.7);
}
/* line 61, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.sync-box a {
  text-decoration: none;
}
/* line 63, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.sync-box img {
  height: 30px;
}

/* line 68, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .change-containers-nav ul {
  list-style: none;
  text-decoration: none;
  margin-bottom: -1px;
  padding: 0;
}
/* line 73, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .change-containers-nav ul li {
  display: inline-block;
  padding: 15px 15px 10px 15px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  color: black;
}
/* line 80, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .change-containers-nav ul .activated {
  z-index: 1;
  border-bottom: 3px solid #EF7B2B;
}
/* line 84, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal #main-container .showing {
  z-index: 0;
  background: #ffffff;
  padding: 10px 20px 50px 20px;
}
/* line 88, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .dropdown-toggle {
  float: right;
  margin-bottom: 15px;
}
/* line 91, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .dropdown-menu {
  position: relative;
  top: 40px;
  left: 83%;
}
/* line 95, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .float-container {
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 98, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .float-container .header {
  float: left;
  width: 25%;
  margin-top: 15px;
  margin-right: 4%;
  font-size: 14px;
  font-weight: 600;
}
/* line 105, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .float-container .body {
  float: left;
  width: 70%;
}
/* line 108, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .float-container .body .btn-file {
  margin-top: 15px;
  float: left;
}
/* line 111, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .float-container .body .logo {
  width: auto;
  float: left;
  margin-top: 15px;
}
/* line 115, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .float-container .body input {
  width: 70%;
  float: left;
  margin-right: 5px;
}
/* line 119, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .float-container .body .domain {
  width: 25%;
  float: left;
  margin-top: 15px;
}
/* line 124, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .color {
  margin-top: 15px;
  overflow: hidden;
  float: left;
}
/* line 128, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .color .color-container {
  clear: both;
  overflow: hidden;
}
/* line 131, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .color .color-container input {
  float: left;
  height: 35px;
  width: 100px;
  border-radius: 3px 0 0 3px;
  margin-right: 0;
}
/* line 137, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .color .color-container label {
  font-weight: 3s00;
}
/* line 139, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .color .color-container span {
  float: left;
  width: 25px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  margin-right: 10px;
  border-radius: 0 5px 5px 0;
  border-left: none;
  padding: 8px 4px;
}
/* line 149, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .sections {
  clear: both;
  margin-top: 25px;
}
/* line 152, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .stage {
  border-radius: 5px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 1px 2px 1px #c7c5c7;
          box-shadow: 0px 1px 2px 1px #c7c5c7;
}
/* line 159, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .stage .stage-header {
  background-color: rgba(0, 0, 0, 0.05);
  height: auto;
  overflow: hidden;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 165, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .stage .stage-header .glyphicon.glyphicon-move {
  float: left;
  margin-right: 15px;
  color: rgba(0, 0, 0, 0.3);
}
/* line 169, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .stage .stage-header .body {
  float: left;
}
/* line 171, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .stage .stage-header .icons {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
}
/* line 175, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .stage .stage-header .icons i {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 5px;
}
/* line 178, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .stage:hover {
  cursor: move;
}
/* line 180, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .stage .stage-body {
  height: auto;
  padding: 15px 15px;
}
/* line 184, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .stage .subdomain-field {
  width: 200px;
  float: left;
}
/* line 187, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .stage .domain {
  float: left;
  margin: 13px 0 0 8px;
}
/* line 190, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .stage .logo {
  margin: 15px;
  float: left;
}
/* line 193, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.edit-career-portal .stage .btn-file {
  margin: 15px;
  float: left;
}

/* line 198, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.billing .table {
  margin-bottom: 0;
}
/* line 200, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.billing .table tr {
  padding: 20px 0;
}
/* line 202, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.billing .table .plan {
  margin-top: 5px;
  font-weight: 900;
  font-size: 16px;
}
/* line 206, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.billing .table .open-jobs {
  margin-top: 5px;
  font-weight: 900;
  font-size: 16px;
}
/* line 210, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.billing .table .select-cost {
  margin-top: 5px;
  float: left;
  margin-right: 10px;
}
/* line 214, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.billing .table .cost {
  margin-top: 5px;
  float: left;
  font-weight: 900;
  font-size: 16px;
}
/* line 219, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.billing .table input[type='radio'] {
  display: none;
}
/* line 221, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.billing .table input[type="radio"]:checked + label {
  background: rgba(239, 122, 43, 0.9);
}
/* line 223, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.billing .table .border-button {
  -webkit-box-shadow: 0 0 0 1px rgba(50, 50, 93, 0.1), 0 2px 5px 0 rgba(50, 50, 93, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 0 1px rgba(50, 50, 93, 0.1), 0 2px 5px 0 rgba(50, 50, 93, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  border: none;
  color: rgba(0, 0, 0, 0.7);
}
/* line 227, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.billing .table .border-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 2px rgba(50, 50, 93, 0.1), 0 3px 5px 0 rgba(50, 50, 93, 0.08), 0 5px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 0 2px rgba(50, 50, 93, 0.1), 0 3px 5px 0 rgba(50, 50, 93, 0.08), 0 5px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  background: none;
}

/* line 232, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
#all-user-filters {
  overflow: hidden;
}
/* line 234, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
#all-user-filters .toggle-actions {
  float: left;
}
/* line 236, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
#all-user-filters .search-form {
  float: left;
}

/* line 240, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-list .user-header {
  border-top: 1px solid #D1DCE4;
  border-bottom: 1px solid #D1DCE4;
  overflow: hidden;
  padding: 10px 10px 5px 10px;
  font-weight: 600;
}
/* line 246, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-list .user-header .user-name {
  float: left;
}
/* line 248, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-list .user-header .role {
  float: right;
  margin-right: 200px;
}
/* line 251, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-list .user {
  border-bottom: 1px solid #D1DCE4;
  width: 100%;
  padding: 5px 10px;
  overflow: hidden;
  background: #fdfdfe;
  border-radius: 2px;
}
/* line 258, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-list .user .name {
  text-align: center;
  float: left;
  margin: 25px 25px;
}
/* line 262, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-list .user .circle {
  margin: 10px 5px 5px 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
}
/* line 268, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-list .user .circle-img {
  margin: 10px 5px 5px 5px;
  padding: 7px 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 22px;
  color: white;
  float: left;
}
/* line 279, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-list .user .email {
  font-size: 12px;
  color: #c2c2c;
  margin: 0;
}
/* line 283, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-list .user .permissions {
  float: right;
  margin: 15px 20px;
}
/* line 286, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-list .user .permissions #action-box {
  border: 1px solid #D1DCE4;
  padding: 10px 10px;
  color: #736D71;
  min-width: 150px;
}
/* line 291, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-list .user .permissions #action-box .caret {
  float: right;
  margin-top: 7px;
}
/* line 294, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-list .user i {
  margin-left: 35px;
  padding-right: 10px;
  margin-top: 29px;
  color: #D1DCE4;
  float: right;
}

/* line 301, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-profile-header {
  overflow: hidden;
  height: auto;
  padding: 20px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 306, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-profile-header .profile-picture {
  float: left;
  margin-right: 50px;
}
/* line 309, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-profile-header .profile-picture .circle {
  height: auto;
}
/* line 311, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-profile-header .profile-picture .circle img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
/* line 315, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-profile-header .profile-picture .change-photo {
  clear: both;
}
/* line 317, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-profile-header .user-info {
  margin-top: 25px;
  float: left;
  margin-right: 50px;
}
/* line 321, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-profile-header .profile-actions {
  margin-top: 20px;
  float: right;
  overflow: hidden;
}
/* line 325, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-profile-header .profile-actions .link1 {
  float: left;
  margin-right: 25px;
}
/* line 328, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.user-profile-header .profile-actions .link2 {
  float: left;
}

/* line 337, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates-body .template {
  border-radius: 5px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 1px 2px 1px #c7c5c7;
          box-shadow: 0px 1px 2px 1px #c7c5c7;
  background-color: rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 348, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates-body .template .body {
  float: left;
}
/* line 350, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates-body .template .icons {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
}
/* line 354, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates-body .template .icons i {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 5px;
}
/* line 357, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates-body .email-container {
  min-height: 100px;
  margin-bottom: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 2px 1px #c7c5c7;
          box-shadow: 0px 1px 2px 1px #c7c5c7;
}
/* line 362, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates-body .email-container .subject {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  height: 40px;
}
/* line 366, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates-body .email-container .body {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  padding: 10px 10px;
  min-height: 100px;
}

/* line 372, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-content-row {
  margin-top: 20px;
}
/* line 374, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-content-row .header {
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}
/* line 378, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-content-row .header .user-info {
  margin-top: 5px;
  float: left;
}
/* line 381, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.company-content-row .header .profile-actions {
  float: right;
}

/* line 384, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.e-mail-signature {
  clear: both;
}
/* line 387, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.e-mail-signature .signature .submit-button {
  width: 145px;
}
/* line 389, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.e-mail-signature .signature .form-area {
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.05);
}

/* line 395, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.rooms {
  margin-top: 5px;
}
/* line 397, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.rooms .room {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 15px;
  height: 80px;
}
/* line 402, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.rooms .room .title {
  float: left;
  width: auto;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}
/* line 408, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.rooms .room .content {
  float: left;
  margin-top: 10px;
  width: auto;
  margin-left: 20px;
}
/* line 413, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.rooms .room .action {
  float: right;
  width: auto;
}
/* line 416, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.rooms .room .dropdown {
  float: right;
  margin-top: 10px;
}

/* line 420, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates {
  margin-top: -10px;
}
/* line 422, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates .template {
  height: 60px;
  padding: 20px 20px;
  border-bottom: 1px solid #D1DCE4;
}
/* line 426, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates .template .glyphicon.glyphicon-move {
  float: left;
  color: #666;
}
/* line 429, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates .template .title {
  float: left;
  font-size: 14px;
  font-weight: bold;
}
/* line 433, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates .template .dropdown {
  float: right;
}
/* line 436, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates .row-details {
  height: 60px;
  padding: 20px 10px;
  border-bottom: 1px solid #D1DCE4;
}
/* line 440, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates .row-details:hover {
  cursor: move;
}
/* line 442, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates .row-details .glyphicon.glyphicon-move {
  float: left;
  color: rgba(0, 0, 0, 0.3);
  margin: 2px 10px 0 0;
}
/* line 446, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates .row-details .title {
  float: left;
  font-size: 14px;
  font-weight: bold;
  max-width: 185px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 454, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.templates .row-details .dropdown {
  float: right;
}

/* line 457, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.team-member-contain {
  float: left;
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 10px;
  border: 1px solid #D1DCE4;
  padding: 20px 20px;
}
/* line 464, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/business-admin-pages.sass */
.team-member-contain img {
  border-radius: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 30%;
}
