/* line 1, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
.job-show-header {
  background: #ffffff;
  padding: 20px 3% 0 3%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
}
/* line 6, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
.job-show-header h1 {
  margin-top: 0;
  font-weight: 400;
  color: black;
  font-size: 22px;
}
/* line 11, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
.job-show-header .change-containers-nav {
  clear: both;
}
/* line 13, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
.job-show-header .change-containers-nav ul {
  margin: 1px 0 -2px -10px;
}
/* line 16, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
.job-show-header .header .details {
  float: left;
  color: black;
}
/* line 19, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
.job-show-header .header .details h1 {
  float: left;
}
/* line 21, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
.job-show-header .header .details .dropdown {
  float: left;
  margin: 7px 10px 0 0;
}
/* line 24, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
.job-show-header .header .details .job-link {
  float: left;
  margin: 7px 0 0 0;
}
/* line 27, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
.job-show-header .header .details .location {
  float: left;
  font-size: 12px;
  margin: 6px 10px 0 15px;
}

/* line 34, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
.side-container #task-filters .filter {
  height: 40px;
  font-size: 16px;
  padding: 10 10;
}
/* line 38, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
.side-container #task-filters .filter:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* line 42, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#job-action-container {
  width: 90%;
  padding-left: 50px;
}
/* line 45, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#job-action-container #cancel {
  display: none;
}
/* line 47, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#job-action-container .comment-area {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 2px 1px #c7c5c7;
          box-shadow: 0px 1px 2px 1px #c7c5c7;
  margin-top: 0;
}
/* line 51, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#job-action-container .comment-area input:focus {
  outline: none;
}
/* line 53, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#job-action-container .comment-area textarea:focus {
  outline: none;
}
/* line 55, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#job-action-container .comment-area #comment-body {
  width: 100%;
  padding: 5px 15px;
  border: none;
  margin: none;
}
/* line 60, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#job-action-container .comment-area .comment-area-footer {
  padding: 10px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  overflow: hidden;
}
/* line 65, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#job-action-container .comment-area .comment-area-footer .btn {
  float: right;
  margin-right: 10px;
}
/* line 68, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#job-action-container .comment-area .comment-area-footer .submit-button {
  float: right;
}

/* line 73, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
.all-job-applicants-container .not-present-container {
  width: 90%;
  margin: 0 5% 25px 5%;
}

/* line 79, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#calendar-container .calendar {
  border-collapse: collapse;
  width: 100%;
}
/* line 82, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#calendar-container .calendar td, #calendar-container .calendar th {
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}
/* line 87, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#calendar-container .calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857%;
}
/* line 92, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#calendar-container .calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}
/* line 99, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#calendar-container .calendar .notmonth a {
  color: #CCC;
}
/* line 101, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#calendar-container .calendar .today {
  background-color: #D7F2FF;
}
/* line 104, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#calendar-container #articles #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
}
/* line 109, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#calendar-container #articles #month a {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}
/* line 114, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/job_users_show.sass */
#calendar-container #articles ul {
  font-size: 11px;
  padding-left: 20px;
}
