/* line 2, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container #quickscreen-side-container {
  float: left;
  width: 25%;
  background: #fff;
  height: 500px;
  border-radius: 5px;
  overflow: scroll;
  margin-bottom: 100px;
  -webkit-box-shadow: 0px 1px 2px 1px #c7c5c7;
          box-shadow: 0px 1px 2px 1px #c7c5c7;
}
/* line 11, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container #quickscreen-side-container .conversation-container {
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  overflow-y: scroll;
}
/* line 16, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container #quickscreen-side-container .conversation-container:hover {
  background: rgba(0, 0, 0, 0.1);
}
/* line 18, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container #quickscreen-side-container .conversation-container .circle-img {
  float: left;
  margin-right: 3px;
  height: 50px;
  width: 50px;
  padding: 5px;
}
/* line 24, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container #quickscreen-side-container .conversation-container .details {
  float: left;
  width: 69%;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  margin-left: 20px;
}
/* line 31, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container #quickscreen-side-container .conversation-container .details .name {
  float: left;
  font-size: 16px;
}
/* line 35, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container #quickscreen-main-container {
  float: left;
  width: 68%;
  margin-left: 2%;
}
/* line 39, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info {
  width: 99%;
  margin: 0 2px;
  background: #ffffff;
  overflow: hidden;
  padding: 15px 0 0 0;
  border-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 7px 40px 0px rgba(199, 197, 199, 0.1), 0px 3px 9px 0px #c7c5c7;
          box-shadow: 0px 7px 40px 0px rgba(199, 197, 199, 0.1), 0px 3px 9px 0px #c7c5c7;
}
/* line 49, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .user-image {
  overflow: hidden;
  float: left;
  margin-right: 15px;
}
/* line 53, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .user-image img {
  width: 80px;
  height: 80px;
  float: left;
  margin: 0 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: block;
}
/* line 61, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .applicant-details {
  width: 82%;
  float: left;
}
/* line 64, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .applicant-details .name-rating {
  margin-top: 1px;
}
/* line 66, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .applicant-details .name-rating .name {
  font-size: 20px;
  float: left;
}
/* line 69, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .applicant-details .name-rating #edit-candidate-drop {
  float: right;
  margin-right: 15px;
}
/* line 72, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .applicant-details .name-rating .dropdown-content {
  margin-top: 10px;
}
/* line 74, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .applicant-details .name-rating .new_rating {
  float: left;
  width: auto;
  margin: auto;
  margin-left: 25px;
}
/* line 79, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .applicant-details .name-rating .new_rating .rating {
  font-size: 14px;
  margin-top: 2px;
}
/* line 82, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .applicant-details .contact-details {
  float: left;
  clear: both;
  margin-bottom: 2px;
  overflow: hidden;
}
/* line 87, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .applicant-details .contact-details .contact-detail {
  float: left;
  margin-right: 15px;
}
/* line 90, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .applicant-details .contact-details .contact-detail .fa {
  float: left;
  margin: 3px 5px 0 0;
}
/* line 93, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .applicant-details .contact-details .contact-detail .detail {
  float: left;
}
/* line 95, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .applicant-details .current-position {
  clear: both;
}
/* line 97, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .actions {
  clear: both;
  width: 100%;
}
/* line 100, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-general-info .applicant-general-top .actions .dropdown {
  width: 125px;
  margin: 20px auto 0px auto;
  display: block;
}
/* line 105, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-nav {
  width: 100%;
  background: white;
  margin-top: 20px;
  clear: both;
  padding: 15px 0 0 0;
  border-radius: 0 0 5px 5px;
}
/* line 113, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-nav .change-containers ul {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}
/* line 117, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-nav .change-containers ul li {
  display: inline-block;
  padding: 15px 15px 10px 15px;
  text-align: center;
  font-size: 14px;
  color: black;
  cursor: pointer;
}
/* line 124, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-nav .change-containers ul .activated {
  border-bottom: 4px solid #EF7B2B;
  color: black;
}
/* line 127, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-nav .bottom-row {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 5px 20px 5px;
  height: 50px;
}
/* line 131, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-nav .bottom-row .hide-can-form {
  float: right;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  border-radius: 8px;
  color: #ffffff;
}
/* line 137, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-nav .bottom-row:hover {
  cursor: pointer;
}
/* line 139, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-nav .bottom-row .can-action {
  float: left;
  margin-right: 5px;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
}
/* line 147, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-nav .bottom-row .active-button {
  background: #EF7B2B;
}
/* line 149, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-nav ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin-bottom: 0;
}
/* line 154, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-nav ul li {
  display: inline-block;
  padding: 10px 10px;
  text-align: center;
  color: black;
  cursor: pointer;
}
/* line 160, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-nav ul a {
  text-decoration: none;
}
/* line 162, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .applicant-nav ul .activated {
  border-bottom: solid 3px #EF7B2B;
  color: black;
}
/* line 166, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .display-applicant-details {
  width: 99%;
  margin: 10px 2px;
}
/* line 169, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .display-applicant-details .dropdown {
  float: right;
  margin-top: 10px;
}
/* line 172, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .display-applicant-details .dropdown .dropdown-content {
  top: 45px;
}
/* line 174, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .display-applicant-details .toggle-actions {
  overflow: hidden;
  margin: 10px;
  float: left;
}
/* line 178, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .display-applicant-details .toggle-actions a {
  float: left;
}
/* line 180, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quickscreen-container .display-applicant-details .toggle-actions a:hover {
  text-decoration: none;
}

/* line 183, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quick-applicant-stage {
  width: 252px;
  float: left;
  margin: -5px 25px 10px 15px;
}
/* line 187, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quick-applicant-stage .applicant-stage {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 43px;
  margin: 0 5px;
  border-radius: 5px;
  background: #fff;
}
/* line 194, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quick-applicant-stage .applicant-stage .current-stage {
  padding: 10px 15px;
  border-radius: 5px 0 0 5px;
  background: #fff;
  font-size: 14px;
  width: 150px;
  float: left;
}
/* line 201, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quick-applicant-stage .applicant-stage .current-stage .caret {
  float: right;
  margin-top: 8px;
}
/* line 204, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quick-applicant-stage .applicant-stage .next-stage {
  color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  font-size: 14px;
  background: #fff;
  float: left;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  width: 50px;
}
/* line 212, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quick-applicant-stage .applicant-stage .next-stage:hover {
  background: rgba(81, 216, 81, 0.3);
  cursor: pointer;
}
/* line 215, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quick-applicant-stage .applicant-stage .reject-stage {
  padding: 10px 20px;
  background: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 14px;
  width: 50px;
  float: left;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 223, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quick-applicant-stage .applicant-stage .reject-stage:hover {
  background: rgba(255, 0, 0, 0.3);
  cursor: pointer;
}
/* line 226, /Users/loganhouston/Projects/talentwiz/app/assets/stylesheets/quick_screen.sass */
#quick-applicant-stage .applicant-stage #rejected {
  background: rgba(255, 0, 0, 0.3);
}
