- if @scorecards.present?
  - @scorecards.each do |scorecard| 
    = render 'scorecard', scorecard: scorecard
- else 
  .not-present-container
    %p You currently do not have any Scorecard Templates
    .add-object= link_to "+ Scorecard Template", new_business_scorecard_template_path, remote: true, class: 'btn border-button'
      



      