.page-header
  %h2 All Users
  .actions
    / = render 'business/candidates/candidate_table/actions'
#main-container
  #padding
    .side-container
      = render 'filters'        
    .main-container
      .all-candidates-table
        = render 'admin/users/table'
      .pagination-container