.page-header
  %h2 Activity
#activity-container
  #main-container
    .side-container
      = render 'business/activities/filters'
    .main-container
      .activity-feed
        = render 'business/activities/activities'
  
  



      


  
            