= render 'business/applications/top_container'

#main-container
  .job-activity-feed
    - @job.activities.each do |activity|         
      = render "business/activities/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity

