.page-header
  %h2 Analytics & Reports
#main-container
  #padding
    .side-container
    .main-container
      .content-100-container
        %h4 Total Candidates
        = line_chart @candidates
    
