.top-container
  .intro-message 
    .header Affordable, Simple, Flexible Pricing
    .sub-header We know that hiring can be expensive and unpredictable. That is why we offer cost-effective and flexible pricing plans to meet your recruitment needs.

.features-container
  = render "shared/features_nav"

  .branded-job-board
    .header 
      TalentWiz at its core is a modern Applicant Tracking System. Our easy to use platform makes it easy to keep track and manage applicants through the entire recruitment process. 
    .feature-container
      .feature.col-md-3
        Recruitment Dashboard
      .description.col-md-9
        %p Our recruitment dashboard makes it easy to keep track of your open, closed and archived jobs. Easily view the jobs that you are a part of the hiring team, or view all the active jobs in the company.  

    .feature-container
      .feature.col-md-3
        Recruitment Workflow
      .description.col-md-9
        %p Our recruitment dashboard makes it easy to keep track of your open, closed and archived jobs. Easily view the jobs that you are a part of the hiring team, or view all the active jobs in the company.  

    .feature-container
      .feature.col-md-3
        Applicant Filters
      .description.col-md-9
        %h5 Full-Text Search
        %p Easily search for candidates based on key-words or phrases in their profile. 
        %h5 Advanced Filters (Coming Soon)
        %p Talentwiz provides you the ability to filter out candidates based on their experience in an industry, and specific role, or by the skills that they have experience with. A complied 
 
    .feature-container
      .feature.col-md-3
        Bulk Actions
      .description.col-md-9
        %p Being able to keep track of what your thoughts are on a candidate is important, its equally as important to see what everyone thinks. View what the hiring team thinks about a candidate all in a central location.



    