.top-container
  .intro-message 
    .header Affordable, Simple, Flexible Pricing
    .sub-header We know that hiring can be expensive and unpredictable. That is why we offer cost-effective and flexible pricing plans to meet your recruitment needs.

.features-container
  = render "shared/features_nav"

  .branded-job-board
    .header 
      Keeping track of applicants and all their information has never been easier. The candidate profile is a central location where all a candidates’ information and activity is stored. 
    .feature-container
      .feature.col-md-3
        Profile Based Recruitment
      .description.col-md-9
        %p Talentwiz goes beyond the traditional resume, and allows candidate to build a unique profile to provide employers with a more complete understanding of their work history. An applicants entire application and details is stored in the applicant profile. Easily review an applicants 

    .feature-container
      .feature.col-md-3
        Move Stages
      .description.col-md-9
        %p Once you have had the chance to evaluate a candidate. Easily move applicants to the next stage, or reject an applicant directly on their profile. 

    .feature-container
      .feature.col-md-3
        Add Notes
      .description.col-md-9
        %p Being able to keep track of what your thoughts are on a candidate is important, its equally as important to see what everyone thinks. View what the hiring team thinks about a candidate all in a central location.

    .feature-container
      .feature.col-md-3
        Centralized Messaging
      .description.col-md-9
        %p Keeping track of the communication between your team and a candidate can be complicated. Talentwiz makes it simple. Simply, e-mail candidates directly from the candidate profile. All messages are tracked and added to the candidate profile, so the entire hiring team can see the last communication with an applicant.

    .feature-container
      .feature.col-md-3
        Assessments 
      .description.col-md-9
        %p All assessments that an applicant completes are stored right on the applicant profile. Easily evaluate and compare all the assessments that you have had an applicant complete. 

    .feature-container
      .feature.col-md-3
        Scorecards
      .description.col-md-9
        %p Each candidate is unique, and you have to be able to evaluate each applicant, and track your evaluation. Use the customizable scorecards to evaluate a candidates fit for the role and your company. Track what each person of the hiring team thinks about an applicant. 

    .feature-container
      .feature.col-md-3
        Activity
      .description.col-md-9
        %p It can be hard to keep track of what the last thing you did with an applicant. The activity feed allows you to view all the actions that you and your hiring team have performed with an applicant. 