.top-container
  .intro-message 
    .header Affordable, Simple, Flexible Pricing
    .sub-header We know that hiring can be expensive and unpredictable. That is why we offer cost-effective and flexible pricing plans to meet your recruitment needs.

.features-container
  = render "shared/features_nav"

  .branded-job-board
    .header 
      TalentWiz at its core is a modern Applicant Tracking System. Our easy to use platform makes it easy to keep track and manage applicants through the entire recruitment process. 
    .feature-container
      .feature.col-md-3
        Candidate Scorecards
      .description.col-md-9
        %p Building a talent pool that you can go back to is a crucial part of a good recruitment strategy. View all the applicants that have applied to your company in a central location.  
    
    .feature-container
      .feature.col-md-3
        Custom Questionnaire's
      .description.col-md-9
        %p Talentwiz makes it simple to track the jobs an applicant has applied to. Recruiters can also add candidates to another job, if they feel they would be a good fit. 
    
