.features-container
  = render "shared/features_nav"

  .branded-job-board
    .feature Career Portal 
    .header 
      We understand that you have worked hard to build and maintain your company's brand. So it is important that brand continues to shine throughout your recruitment process. TalentWiz offers several options for you to display your job opportunities.
    .feature-container
      .feature.col-md-3
        Hosted Job Portal
      .description.col-md-9
        %p Easily build and integrate a branded careers page to display jobs and accept applications online. Simply add your logo and a short description about your company to get up and running. Jobs are automatically updated on the portal as you add, edit and delete job postings.  

    .feature-container
      .feature.col-md-3
        Job Widget
      .description.col-md-9
        %p Want to display your jobs on your website? No problem, we offer an easy to use job widget. With a little bit of code JavaScript and CSS you can customize the look of your job postings and job descriptions. Jobs are automatically updated on your website as you post, edit and close job postings. 

    .feature-container
      .feature.col-md-3
        Candidate Experience 
      .description.col-md-9
        %p Candidates apply to jobs by building a unique profile, and applying directly through your job portal. 
        %p Candidates that already have a Talentwiz profile, will have their profile automatically loaded to your system. 
        %p Candidates will enjoy using your system as they can track their progress directly on your career portal or on TalentWiz. 

    .next-page 
      Next Feature 
      %br
      .next= link_to "Applicant Tracking", features_applicant_tracking_path


= render "shared/bottom_header" 