.top-container
  .intro-message 
    .header Affordable, Simple, Flexible Pricing
    .sub-header We know that hiring can be expensive and unpredictable. That is why we offer cost-effective and flexible pricing plans to meet your recruitment needs.

.features-container
  = render "shared/features_nav"

  .branded-job-board
    .header 
      We understand that you have worked hard to build and maintain your company brand. So it is important that brand continues to shine throughout your recruitment process. TalentWiz offers several options for you to display your job opportunities.
    .feature-container
      .feature.col-md-3
        Job Board
      .description.col-md-9
        %p Easily build and integrate a branded careers page to display jobs and accept applications online. Simply add your logo and a short description about your company to get up and running.  

    .feature-container
      .feature.col-md-3
        Job Widget
      .description.col-md-9
        %p Want to display your jobs on your website? No problem, we offer an easy to use job widget. With a little bit of code JavaScript and CSS you can customize the look of your job postings and job descriptions. Jobs are automatically updated on your website as you post, edit and close job postings. 
   