.features-container
  = render "shared/features_nav"

  .branded-job-board
    .feature Recruitment Pipeline

    .header 
      The process for hiring candidates is different for each job. Create a unique recruitment pipeline, add tasks and interviews for each stage, and assign members of your hiring team to complete each task or interview.

    .feature-container
      .feature.col-md-3
        Recruitment Pipeline
      .description.col-md-9
        %p Keeping track of candidates starts by building a recruitment pipeline. Add as many stages as you want to a job and arrange them in any order you see fit. Candidates are added to the "All Applicants" folder, and you can move them from stage to stage as they progress through the recruitment process.  

    .feature-container
      .feature.col-md-3
        Tasks and Interviews
      .description.col-md-9
        %p Hiring happens quickly, and even faster for top candidates. Talentwiz makes it easy to ensure that applicants are moving along the hiring pipeline as quickly as possible. 
        
        %p Outline the next steps that need to be taken, by adding tasks, interviews and scorecards to be completed for each stage of the recruitment process. This will ensure that no applicants slip through the cracks, and all hiring members are on the same page.
 
    .feature-container
      .feature.col-md-3
        Assign Hiring Members
      .description.col-md-9
        %p The hiring process often involves several team members, and each team member plays a different role through out the process. Assign hiring members to a particular task or interview, to maintain a clear and organized recruitment process. 

        %p Hiring members will recieve a notification when they must complete a task or an interview. Hiring members can also easily view the tasks and interviews they need to complete in their task pipeline.

    .next-page 
      Next Feature 
      %br
      .next= link_to "Evaluate Candidates", features_evaluate_candidate_path
      
= render "shared/bottom_header"