.top-container
  .intro-message 
    .header Affordable, Simple, Flexible Pricing
    .sub-header We know that hiring can be expensive and unpredictable. That is why we offer cost-effective and flexible pricing plans to meet your recruitment needs.

.features-container
  = render "shared/features_nav"

  .branded-job-board
    .header 
      TalentWiz at its core is a modern Applicant Tracking System. Our easy to use platform makes it easy to keep track and manage applicants through the entire recruitment process. 
    .feature-container
      .feature.col-md-3
        Recruitment Pipeline
      .description.col-md-9
        %p Each job that you hire for has different requirements, and therefore requires has a unique hiring process. All applicants are automatically added to a jobs "All Applicants" folder, where they go from there is up to you. 
        %p Build a custom recruitment pipeline to manage the process that applicants go through during the hiring process. This makes it easy to track the stage of all your applicants. 

    .feature-container
      .feature.col-md-3
        Tasks and Interviews
      .description.col-md-9
        %p We know that you are a busy person with a lot on your plate. Keeping track of what you have to do is not always the easiest. 
        %p Talentwiz makes it a breeze to remember what your next assignment is. Add tasks and interviews for each stage of the recruitment process to ensure the process moves along smoothly.
 
    .feature-container
      .feature.col-md-3
        Assign Hiring Members
      .description.col-md-9
        %p The hiring process often involves several team members, and each team member plays a different role through out the process. Assign hiring members to a particular task or interview, to maintain a clear and organized recruitment process. 
        %p Hiring managers will recieve a notification when they must complete a task or an interview. They can also easily view the tasks and interviews they need to complete in their task pipeline.