.job-board-header{:style => "background-color: #EF7B2B"}
  .intro-message
    .header= @job.title
    .sub-header= @job.location

.main-row-container
  .inner-container
    .career-portal-job-container
      .application-form
        .job-header
          %h2= @job.title
        .application-header
          %h4 Application Form
          %p Please finish the following questions to apply to this job.
        .application-body
          = render 'form'