= form_for [:business, current_user, @new_avatar], remote: true do |f| 
  .modal-body
    .crop-image
      = f.file_field :image, class: "btn btn-file"
      
  .modal-footer
    = f.hidden_field :user_id, value: current_user.id
    = f.submit 'Upload Image', class: "btn submit-button"
    .btn.border-button2{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel