#userProfilePictureModal
  = form_for [:business, current_user, @user_avatar], remote: true do |f| 
    .modal-body
      .not-present-container
        %p Add a photo and crop it to your liking.
        = f.file_field :image, class: "btn user_avatar_image inputfile"
        = f.label :image, "Add Profile Photo", class: "btn submit-button" 
    .modal-footer
      = f.hidden_field :user_id, value: current_user.id
      .btn.border-button.close-modal Cancel