.user-image
  - if @avatar.present?   
    .circle= image_tag @avatar.image.medium_image, :size => "100x100"
    .change-photo= link_to "Change Photo", edit_business_user_user_avatar_path(current_user, @avatar), :data => {remote: true}
  - else      
    .circle
      %img(src="/tmp/blank_profile_picture.png")
    .change-photo= link_to "Add Photo", new_business_user_user_avatar_path(current_user), :data => {remote: true}

